/* CSS declarations go here */
body { padding-top: 70px; }
[data-required] label:after {content: ' *'}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
}
.nav.nav-tabs {
    margin-top: 10px;
}
.select2.select2-container.select2-container--default {
    width: 100% !important;
}
.tab-content {
    margin-bottom: 20px;
    margin-top: 20px;
}

.badge-error {
    background-color: #b94a48;
}

td.editable:after {
    display: block;
    position: relative;
    right: 0;
    top: 0;
    content: '\f14b';
    text-align: end;
    font-family: "FontAwesome";
    color: grey;
}

td.editable {
    cursor: pointer;
}

td.editable:active {
    background-color: lightgrey;
}

td.isAccountingReady:after {
    display: block;
    position: relative;
    right: 0;
    top: 0;
    content: '\f00c';
    text-align: center;
    font-family: "FontAwesome";
    color: grey;
    opacity: 0.2;
}

td.ready:after {
    color: green;
    opacity: 1;
    font-size: 14px;
}
td.ready {
    color: white;
    font-size: 0px;
}

td.isAccountingReady {
    cursor: pointer;
}

td.isAccountingReady:active {
    background-color: lightgrey;
}

td.alert {
    background-color: lightpink;
}

td.incomplete {
    background-color: orange;
}
td.current {
    background-color: lightyellow;
}

td.js-undo-ignore, .js-link-confirm {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

td.alert.isLinked, td.incomplete.isLinked, td.success.isLinked {
    border: 5px solid grey;
}

td.note:after {
    display: block;
    position: relative;
    right: -8px;
    top: -32px;
    content: '\f249';
    text-align: end;
    font-family: "FontAwesome";
    color: yellow;
}

td.note, td.payment {
    cursor: pointer;
    position: relative;
}

td.note .paymentNote {
    display: block;
    position: absolute;
    top: -80px;
    right: -100px;
    background-color: yellow;
    width: 100px;
    height: 80px;
    padding: 5px 10px;
    box-shadow: 3px 4px 5px #88888870;
}

