<template name="Step">
    <li class="list-group-item process-item">
        <main class="list-group-item-text {{#if this.isNotDone}} alert-danger{{/if}}">
            <h5 class="list-group-item-heading">{{getStepIndex this}} - {{this.label}} {{#if isApprovalStep}}<i class="fa fa-check-circle fa-lg text-primary"></i>{{else}} <i class="fa fa-pencil-square fa-lg alert-warning"></i>{{/if}} {{#if this.isOutput}}<i class="fa fa-arrow-circle-right fa-lg"></i>{{/if}} {{#if this.isNormalUser}}<i class="fa fa-user fa-lg"></i>{{/if}}</h5>
        </main>
    </li>
</template>