<template name="Steps">
    {{#if Template.subscriptionsReady}}
        <section class="row">
            <div class="col-xs-12">
                <p><i class="fa fa-check-circle fa-lg text-primary"></i>: Approval step | <i class="fa fa-pencil-square fa-lg alert-warning"></i>: Input step | <i class="fa fa-arrow-circle-right fa-lg"></i>: Output step</p>
            </div>
        </section>
        <section class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Reservations</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {{#each getReservationSteps}}
                                {{> Step}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Notaries</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {{#each getNotarySteps}}
                                {{> Step}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Mortgages</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {{#each getMortgageSteps}}
                                {{> Step}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Handover</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {{#each getManagementSteps}}
                                {{> Step}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    {{else}}
        <p>Loading...</p>
    {{/if}}
</template>