<template name="Configuration">
    {{#if Template.subscriptionsReady}}
        {{#if isInRole 'admin'}}
            <section class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">General settings</div>
                        <div class="panel-body">
                            {{#if getConfigurationDoc}}
                                {{> quickForm collection="Configurations" id="updateConfigurationForm" doc=getConfigurationDoc type="update" buttonContent="Update"}}
                            {{else}}
                                {{> quickForm collection="Configurations" id="saveConfigurationForm" type="insert" buttonContent="Save"}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Users</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {{#each getUsers}}
                                    {{> User }}
                                {{/each}}
                            </ul>
                            {{#unless isAddingUser}}
                                <button class="add-new js-add-new-user btn btn-primary"> Add new</button>
                            {{/unless}}
                            {{#if isAddingUser}}
                                    <div id="newUserForm">
                                        <div class="form-group" id="userEmail" data-required="true">
                                            <label for="userEmail" class="control-label">Email</label>
                                            <input type="text" name="displayName" required="" class="form-control">
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="form-group" id="userPassword" data-required="true">
                                            <label for="userPassword" class="control-label">Password</label>
                                            <input type="text" name="displayName" required="" class="form-control">
                                            <span class="help-block"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary js-submit-new-user">Add</button>
                                        <button type="button" class="btn btn-default cancel">Cancel</button>
                                    </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Suppliers</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {{#each getSuppliers}}
                                    {{> Supplier }}
                                {{/each}}
                            </ul>
                            {{#unless isAddingSupplier}}
                                <button class="add-new js-add-new-supplier btn btn-primary"> Add new</button>
                            {{/unless}}
                            {{#if isAddingSupplier}}
                                {{#autoForm collection="Suppliers" id="insertSupplierForm" type="insert"}}
                                    {{> afQuickFields}}
                                    <div>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                        <button type="button" class="btn btn-default cancel">Cancel</button>
                                    </div>
                                {{/autoForm}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Notaries</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {{#each getNotaries}}
                                    {{> Notary }}
                                {{/each}}
                            </ul>
                            {{#unless isAddingNotary}}
                                <button class="add-new js-add-new-notary btn btn-primary"> Add new</button>
                            {{/unless}}
                            {{#if isAddingNotary}}
                                {{#autoForm collection="Notaries" id="insertNotaryForm" type="insert"}}
                                    {{> afQuickFields}}
                                    <div>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                        <button type="button" class="btn btn-default cancel">Cancel</button>
                                    </div>
                                {{/autoForm}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Mortgage brokers</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {{#each getBrokers}}
                                    {{> Broker }}
                                {{/each}}
                            </ul>
                            {{#unless isAddingBroker}}
                                <button class="add-new js-add-new-broker btn btn-primary"> Add new</button>
                            {{/unless}}
                            {{#if isAddingBroker}}
                                {{#autoForm collection="MortgageBrokers" id="insertBrokerForm" type="insert"}}
                                    {{> afQuickFields}}
                                    <div>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                        <button type="button" class="btn btn-default cancel">Cancel</button>
                                    </div>
                                {{/autoForm}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"> Account lawyers</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {{#each getAccountLawyers}}
                                    {{> Lawyer }}
                                {{/each}}
                            </ul>
                            {{#unless isAddingLawyer}}
                                <button class="add-new js-add-new-lawyer btn btn-primary"> Add new</button>
                            {{/unless}}
                            {{#if isAddingLawyer}}
                                {{#autoForm collection="AccountLawyers" id="insertLawyerForm" type="insert"}}
                                    {{> afQuickFields}}
                                    <div>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                        <button type="button" class="btn btn-default cancel">Cancel</button>
                                    </div>
                                {{/autoForm}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"> Property Management Companies</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {{#each getPropertyManagementCompanies}}
                                    {{> PropertyManagement }}
                                {{/each}}
                            </ul>
                            {{#unless isAddingPropertyManagement}}
                                <button class="add-new js-add-new-propertyManagement btn btn-primary"> Add new</button>
                            {{/unless}}
                            {{#if isAddingPropertyManagement}}
                                {{#autoForm collection="PropertyManagementCompanies" id="insertPropertyManagementForm" type="insert"}}
                                    {{> afQuickFields}}
                                    <div>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                        <button type="button" class="btn btn-default cancel">Cancel</button>
                                    </div>
                                {{/autoForm}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"> Accounting</div>
                        <div class="panel-body">
                            <button class="btn btn-danger js-reset-accounting">Reset accounting data</button>
                        </div>
                    </div>
                </div>
            </section>
        {{else}}
            <p>You are not authorized to view this</p>
        {{/if}}
    {{else}}
        <p>Loading...</p>
    {{/if}}
</template>