<template name="Notary">
    <li class="list-group-item">
        <header>
            <h4 class="list-group-item-heading">{{displayName}}</h4>
        </header>
        <main>
            <ul class="list-unstyled">
                {{#if isEditing}}
                    {{#autoForm collection="Notaries" id="updateNotaryForm" doc=this type="update"}}
                        <fieldset>
                            {{> afQuickField name='email'}}
                            {{> afQuickField name='simpleName'}}
                        </fieldset>
                    {{/autoForm}}
                {{else}}
                    <li><label>Email:</label> {{email}}</li>
                    <li><label>Short name:</label> {{simpleName}}</li>
                {{/if}}
            </ul>
        </main>
        <footer class="btn-group btn-group-justified" role="group">
            {{#if isEditing}}
                <a role="button" class="btn btn-primary js-update-button">Update</a>
                <a role="button" class="btn btn-default js-cancel-button">Cancel</a>
            {{else}}
                <a role="button" class="btn btn-default js-edit-button">Edit</a>
                <a role="button" class="btn btn-default js-delete-button">Delete</a>
            {{/if}}
        </footer>
    </li>
</template>