<template name="PropertyManagement">
    <li class="list-group-item">
        <header>
            <h4 class="list-group-item-heading">{{name}}</h4>
        </header>
        <main>
            <ul class="list-unstyled">
                {{#if isEditing}}
                    {{#autoForm collection="PropertyManagementCompanies" id="updatePropertyManagementForm" doc=this type="update"}}
                        <fieldset>
                            {{> afQuickField name='email'}}
                            {{> afQuickField name='address'}}
                            {{> afQuickField name='phone'}}
                            {{> afQuickField name='contact'}}
                            {{> afQuickField name='contactMobile'}}
                            {{> afQuickField name='IBAN'}}
                        </fieldset>
                    {{/autoForm}}
                {{else}}
                    <li><label>Email:</label> {{email}}</li>
                    <li><label>Address:</label> {{address}}</li>
                    <li><label>Phone:</label> {{phone}}</li>
                    <li><label>Contact name:</label>: {{contact}}</li>
                    <li><label>Contact mobile number:</label> {{contactMobile}}</li>
                    <li><label>IBAN:</label> {{IBAN}}</li>
                {{/if}}
            </ul>
        </main>
        <footer class="btn-group btn-group-justified" role="group">
            {{#if isEditing}}
                <a role="button" class="btn btn-primary js-update-button">Update</a>
                <a role="button" class="btn btn-default js-cancel-button">Cancel</a>
            {{else}}
                <a role="button" class="btn btn-default js-edit-button">Edit</a>
                <a role="button" class="btn btn-default js-delete-button">Delete</a>
            {{/if}}
        </footer>
    </li>
</template>