<template name="User">
    <li class="list-group-item">
        <header>
            <h4 class="list-group-item-heading">{{getUserEmail this._id}}</h4>
        </header>
        <main>
            <ul class="list-unstyled">
                <li><label>Role:</label> {{getUserRole this._id}}</li>
            </ul>
        </main>
        <footer class="btn-group btn-group-justified" role="group">
            {{#if isAdmin this._id}}
                <a role="button" class="btn btn-default js-demote-user-button">Demote</a>
            {{else}}
                <a role="button" class="btn btn-default js-promote-user-button">Promote</a>
            {{/if}}
            <a role="button" class="btn btn-default js-delete-user-button">Delete</a>
        </footer>
    </li>
</template>