<template name="Header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/process-list">SweetProcess</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                        <li id="ongoing-button"><a href="/process-list"><i class="fa fa-tasks"></i> Sales<span class="sr-only">(current)</span></a></li>
                        <li id="management-button"><a href="/management"><i class="fa fa-key"></i> Management<span class="sr-only"></span></a></li>
                        <li id="accounting-button"><a href="/accounting"><i class="fa fa-money"></i> Accounting</a></li>
                        <li id="reports-button"><a href="/reports"><i class="fa fa-area-chart"></i> Reports</a></li>
                        {{#if isInRole 'admin'}}
                            <li id="configuration-button"><a href="/configuration"><i class="fa fa-cog"></i> Configuration</a></li>
                        {{/if}}
                    {{/if}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</template>