<template name="InputManagementCompanyData">
    {{#if Template.subscriptionsReady}}
        <h1>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}}</h1>
        <h3>Status: {{getProcessStep process.step}}</h3>
        <div>
            {{#autoForm collection="Processes" id="InputManagementCompanyDataForm" doc=process type="update"}}
            <fieldset>
                <legend>Management Company</legend>
                {{> afQuickFields name='management.managementCompany'}}
                {{#if isUncomplete}}
                    <div class="alert alert-danger" role="alert">Missing required information.</div>
                {{/if}}
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="js-cancel btn">Cancel</button>
            </fieldset>
            {{/autoForm}}
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>