<template name="InputTenantData">
    {{#if Template.subscriptionsReady}}
        <h1>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}}</h1>
        <h3>Status: {{getProcessStep process.step}}</h3>
        <div>
            {{#autoForm collection="Processes" id="InputTenantDataForm" doc=process type="update"}}
                {{> afQuickField name='realty.status'}}
                <fieldset>
                {{#if afFieldValueIs name="realty.status" value="vermietet"}}
                    <legend>Primary Tenant</legend>
                    {{> afQuickFields name='management.tenant'}}
                    <legend>Second Tenant</legend>
                    {{> afQuickFields name='management.secondTenant'}}
                {{/if}}
            </fieldset>
            <fieldset>
                <legend>Rental</legend>
                {{> afQuickField name='realty.rentInClientsOffer'}}
                {{> afQuickField name='realty.buildingManagementFee'}}
                {{> afQuickField name='realty.reserveFund'}}
                {{> afQuickField name='management.purchaseContractSignatureDate'}}
                {{> afQuickField name='management.handoverDate'}}
                {{> afQuickField name='management.paymentStartDate'}}
                {{> afQuickField name='management.isFurnished'}}
                {{> afQuickField name='management.rentalFee'}}
                {{#if isUncomplete}}
                    <div class="alert alert-danger" role="alert">Missing required information.</div>
                {{/if}}
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="js-cancel btn">Cancel</button>
            </fieldset>
            {{/autoForm}}
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>