<template name="NotifyOnRentalsToBePayed">
    {{#if Template.subscriptionsReady}}
        <h1>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}}</h1>
        <h3>Status: {{getProcessStep process.step}}</h3>
        <div>
            {{#autoForm collection="Processes" id="NotifyOnRentalsToBePayedForm" doc=process type="update"}}
                {{> afQuickField name='realty.rentInClientsOffer'}}
                {{> afQuickField name='realty.buildingManagementFee'}}
                {{> afQuickField name='realty.reserveFund'}}
                {{> afQuickField name='management.managementFee'}}
                {{> afQuickField name='management.managementCompany.housegeld'}}
                {{> afQuickField name='management.firstRentalPaymentSum'}}
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="js-cancel btn">Cancel</button>
            {{/autoForm}}
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>