<template name="UploadMgmtContractAndPOA">
    {{#if Template.subscriptionsReady}}
        <h1>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}}</h1>
        <h3>Status: {{getProcessStep process.step}}</h3>
        <div>
            {{#autoForm collection="Processes" id="UploadMgmtContractAndPOAForm" doc=process type="update"}}
                <fieldset>
                    <legend>Upload Management Contract</legend>
                    {{> afQuickFields name='management.managementContractPath'}}
                    <div class="form-group">
                        <label for="contractUpload" class="control-label">Contract:</label>
                        {{#if process.management.managementContractPath}}
                            <img width="200px" src="{{process.management.managementContractPath}}"/>
                            <button type="button" id="contractUpload" class="js-uploadContract btn">Replace</button>
                        {{else}}
                            <button type="button" id="contractUpload" class="js-uploadContract btn">Upload</button>
                        {{/if}}
                        <span class="help-block"></span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Upload POA</legend>
                    {{> afQuickFields name='management.POAPath'}}
                    <div class="form-group">
                        <label for="contractUpload" class="control-label">POA:</label>
                        {{#if process.management.POAPath}}
                            <img width="200px" src="{{process.management.POAPath}}"/>
                            <button type="button" id="POAUpload" class="js-uploadPOA btn">Replace</button>
                        {{else}}
                            <button type="button" id="POAUpload" class="js-uploadPOA btn">Upload</button>
                        {{/if}}
                        <span class="help-block"></span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Client IBAN</legend>
                    {{> afQuickField name='management.clientIBAN'}}
                </fieldset>
                {{#if isUncomplete}}
                    <div class="alert alert-danger" role="alert">You need to upload both contract and POA and input IBAN to complete this step.</div>
                {{/if}}
                <button type="button" class="js-submit btn btn-primary">Update</button>
                <button type="button" class="js-cancel btn">Cancel</button>
            {{/autoForm}}
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>