<template name="InputConversionRate">
    {{#if Template.subscriptionsReady}}
        <h1>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}}</h1>
        <h3>Status: {{getProcessStep process.step}}</h3>
        <div>
            {{#autoForm collection="Processes" id="inputConversionRateForm" doc=process type="update"}}
                {{> afQuickField name='notary.conversionRate'}}
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="js-cancel btn">Cancel</button>
            {{/autoForm}}
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>