<template name="SendPaymentInstructions">
    {{#if Template.subscriptionsReady}}
        <h1>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}}</h1>
        <h3>Status: {{getProcessStep process.step}}</h3>
        <div>
            {{#autoForm collection="Processes" id="SendPaymentInstructionsForm" doc=process type="update"}}
            <fieldset>
                <legend>Clients to send the instructions</legend>
                <p>Client #1: {{process.primaryClient.firstName}} {{process.primaryClient.lastName}}</p>
                {{> afQuickField name='notary.payment.includeClient1'}}
                {{#if process.includeClient2}}
                    <p>{{process.client2.firstName}} {{process.client2.lastName}}</p>
                    {{> afQuickField name='notary.payment.includeClient2'}}
                {{/if}}
                {{#if process.includeClient3}}
                    <p>{{process.client3.firstName}} {{process.client3.lastName}}</p>
                    {{> afQuickField name='notary.payment.includeClient3'}}
                {{/if}}
            </fieldset>
            <fieldset>
                <legend>Instructions configurations</legend>
                {{> afQuickFields name='notary.payment.paymentAccount1' omitFields="notary.payment.paymentAccount1.value"}}
                {{> afQuickField name='notary.payment.paymentAccount1.value' value=getPaymentAccount1Value}}
                {{> afQuickField name='notary.payment.payableToTwoAccounts'}}
                {{#if payableToTwoAccounts}}
                    {{> afQuickFields name='notary.payment.paymentAccount2' omitFields="notary.payment.paymentAccount2.value"}}
                    {{> afQuickField name='notary.payment.paymentAccount2.value' value=getPaymentAccount2Value}}
                {{/if}}
            </fieldset>
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="js-cancel btn">Cancel</button>
            {{/autoForm}}
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>