<template name="NewProcess">
    <h1>New Process</h1>
    {{#autoForm collection=getProcesses id="insertProcessForm" type="insert" validation="submit" schema=getSchema}}
        <fieldset>
            <legend>Property</legend>
            {{> afQuickFields name='realty' omitFields="realty.rentInClientsOffer, realty.buildingManagementFee, realty.reserveFund"}}
        </fieldset>
        <!--<fieldset>-->
            <!--<legend>Primary client</legend>-->
            <!--{{> afQuickFields name='primaryClient' omitFields="primaryClient.identification, primaryClient.payslip1, primaryClient.payslip2, primaryClient.payslip3, primaryClient.form106Year1, primaryClient.form106Year2, primaryClient.selfEmployed1, primaryClient.selfEmployed2, primaryClient.incomeAndExpenses, primaryClient.professionType, primaryClient.selfEmployedSince"}}-->
        <!--</fieldset>-->
        <!--{{> afQuickField name='includeClient2'}}-->
        <!--{{#if afFieldValueIs name="includeClient2" value=true}}-->
            <!--<fieldset>-->
                <!--<legend>Second client</legend>-->
                <!--{{> afQuickFields name='client2' omitFields="client2.identification, client2.payslip1, client2.payslip2, client2.payslip3, client2.form106Year1, client2.form106Year2, client2.selfEmployed1, client2.selfEmployed2, client2.incomeAndExpenses, client2.professionType, client2.selfEmployedSince"}}-->
            <!--</fieldset>-->
            <!--{{> afQuickField name='includeClient3'}}-->
        <!--{{/if}}-->
        <!--{{#if afFieldValueIs name="includeClient3" value=true}}-->
            <!--<fieldset>-->
                <!--<legend>Third client</legend>-->
                <!--{{> afQuickFields name='client3' omitFields="client3.identification, client3.payslip1, client3.payslip2, client3.payslip3, client3.form106Year1, client3.form106Year2, client3.selfEmployed1, client3.selfEmployed2, client3.incomeAndExpenses, , client3.professionType, client3.selfEmployedSince"}}-->
            <!--</fieldset>-->
        <!--{{/if}}-->
        <button type="submit" class="btn btn-primary">Create</button>
    {{/autoForm}}
</template>