<template name="ProcessPage">
    {{> bootstrapAlerts}}
    {{#if Template.subscriptionsReady}}
        <header class="row">
            <div class="col-sm-9">
                <h3>{{process.primaryClient.lastName}} {{process.primaryClient.firstName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}} - {{realty.apartmentNumber}}</h3>
                {{#if process.stepB}}
                    <h4>Notary Status: {{#if process.isAOverdue}}<span class="label label-danger">Overdue</span> {{/if}}{{getProcessStep process.step}} {{#if process.isOnline}}<span class="label label-success">Online</span>{{else}}<span class="label label-default">Offline</span>{{/if}}{{#if process.isArchived}}<span class="label label-default">Archived</span>{{/if}}</h4>
                    <h4>Mortgage Status: {{#if process.isBOverdue}}<span class="label label-danger">Overdue</span> {{/if}} {{getProcessStep process.stepB}}</h4>
                {{else}}
                    <h4>Status: {{#if process.isAOverdue}}<span class="label label-danger">Overdue</span> {{/if}} {{getProcessStep process.step}} {{#if process.isOnline}}<span class="label label-success">Online</span>{{else}}<span class="label label-default">Offline</span>{{/if}}{{#if process.isArchived}}<span class="label label-default">Archived</span>{{/if}}</h4>
                {{/if}}
            </div>
            <div class="col-sm-3 btn-group" role="group">
                {{#if process.stepB}}
                    {{#if isNotComplete}}
                        <button class="btn btn-primary js-advance" data="step-{{process.step}}">Advance Notary</button>
                    {{/if}}
                    <button class="btn btn-primary js-advance" data="step-{{process.stepB}}">Advance Mortgage</button>
                {{else}}
                    {{#if isNotComplete}}
                        <button class="btn btn-primary js-advance" data="step-{{process.step}}">Advance</button>
                    {{/if}}
                {{/if}}
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle .dropdown-menu-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More...
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {{#if process.isOnline}}
                            <li><a class="js-set-offline">Set process offline</a></li>
                        {{else}}
                            <li><a class="js-set-online">Set process online</a></li>
                        {{/if}}
                        {{#if process.stepB}}
                            <li><a data-toggle="modal" data-target="#changeStepModal">Jump to another notary step</a></li>
                            <li><a data-toggle="modal" data-target="#changeStepBModal">Jump to another mortgage step</a></li>
                        {{else}}
                            <li><a data-toggle="modal" data-target="#changeStepModal">Jump to another step</a></li>
                        {{/if}}
                        {{#if process.isArchived}}
                            <li><a class="js-unarchive">Unarchive</a></li>
                        {{ else  }}
                            <li><a class="js-archive">Archive</a></li>
                        {{/if}}
                        <li><a class="js-delete-accounting-data">Delete accounting data</a></li>
                        <li><a class="js-remove">Delete Process</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <nav class="row">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#property" aria-controls="property" role="tab" data-toggle="tab">Property</a></li>
                <li role="presentation"><a href="#clients" aria-controls="clients" role="tab" data-toggle="tab">Clients</a></li>
                {{#if startedMortgage}}
                    <li role="presentation"><a href="#mortgage" aria-controls="mortgage" role="tab" data-toggle="tab">Mortgage</a></li>
                {{/if}}
                {{#if process.notary}}
                    <li role="presentation"><a href="#notary" aria-controls="notary" role="tab" data-toggle="tab">Notary</a></li>
                {{/if}}
                {{#if startedHandover}}
                    <li role="presentation"><a href="#management" aria-controls="management" role="tab" data-toggle="tab">Management</a></li>
                {{/if}}
                <li role="presentation"><a href="#log" aria-controls="log" role="tab" data-toggle="tab">Log & Notes</a></li>
            </ul>
        </nav>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="property">
                {{#if isEditing}}
                    {{#autoForm collection="Processes" id="updatePropertyForm" doc=process type="update" schema="ProcessSchema"}}
                        <fieldset>
                            {{> afQuickFields name='realty'}}
                        </fieldset>
                        <button type="submit" class="btn btn-primary">Update</button>
                    {{/autoForm}}
                {{else}}
                    {{#autoForm collection="Processes" id="viewPropertyForm" doc=process type="disabled" schema="ProcessSchema"}}
                        <fieldset>
                            {{> afQuickFields name='realty'}}
                        </fieldset>
                    {{/autoForm}}
                    <button class="js-edit btn btn-primary">Edit</button>
                {{/if}}
            </div>
            <div role="tabpanel" class="tab-pane" id="clients">
                {{#if isEditing}}
                    {{#autoForm collection="Processes" id="updateClientsForm" doc=process type="update" schema="ProcessSchema"}}
                        <fieldset>
                            <legend>Primary client</legend>
                            {{> afQuickFields name='primaryClient' omitFields="primaryClient.payslip1, primaryClient.payslip2, primaryClient.payslip3, primaryClient.form106Year1, primaryClient.form106Year2, primaryClient.selfEmployed1, primaryClient.selfEmployed2, primaryClient.incomeAndExpenses"}}
                        </fieldset>
                        {{> afQuickField name='includeClient2'}}
                        {{#if afFieldValueIs name="includeClient2" value=true}}
                            <fieldset>
                                <legend>Second client</legend>
                                {{> afQuickFields name='client2' omitFields="client2.payslip1, client2.payslip2, client2.payslip3, client2.form106Year1, client2.form106Year2, client2.selfEmployed1, client2.selfEmployed2, client2.incomeAndExpenses"}}
                            </fieldset>
                            {{> afQuickField name='includeClient3'}}
                        {{/if}}
                        {{#if afFieldValueIs name="includeClient3" value=true}}
                            <fieldset>
                                <legend>Third client</legend>
                                {{> afQuickFields name='client3' omitFields="client3.payslip1, client3.payslip2, client3.payslip3, client3.form106Year1, client3.form106Year2, client3.selfEmployed1, client3.selfEmployed2, client3.incomeAndExpenses"}}
                            </fieldset>
                        {{/if}}
                        <button type="submit" class="btn btn-primary">Update</button>
                    {{/autoForm}}
                {{else}}
                    {{#autoForm collection="Processes" id="viewClientsForm" doc=process type="disabled" schema="ProcessSchema"}}
                        <fieldset>
                            <legend>Primary client</legend>
                            {{> afQuickFields name='primaryClient' omitFields="primaryClient.payslip1, primaryClient.payslip2, primaryClient.payslip3, primaryClient.form106Year1, primaryClient.form106Year2, primaryClient.selfEmployed1, primaryClient.selfEmployed2, primaryClient.incomeAndExpenses"}}
                        </fieldset>
                        {{> afQuickField name='includeClient2'}}
                        {{#if afFieldValueIs name="includeClient2" value=true}}
                            <fieldset>
                                <legend>Second client</legend>
                                {{> afQuickFields name='client2' omitFields="client2.payslip1, client2.payslip2, client2.payslip3, client2.form106Year1, client2.form106Year2, client2.selfEmployed1, client2.selfEmployed2, client2.incomeAndExpenses"}}
                            </fieldset>
                            {{> afQuickField name='includeClient3'}}
                        {{/if}}
                        {{#if afFieldValueIs name="includeClient3" value=true}}
                            <fieldset>
                                <legend>Third client</legend>
                                {{> afQuickFields name='client3' omitFields="client3.payslip1, client3.payslip2, client3.payslip3, client3.form106Year1, client3.form106Year2, client3.selfEmployed1, client3.selfEmployed2, client3.incomeAndExpenses"}}
                            </fieldset>
                        {{/if}}
                        <button class="js-edit btn btn-primary">Edit</button>
                    {{/autoForm}}
                {{/if}}
            </div>
            <div role="tabpanel" class="tab-pane" id="mortgage" schema="ProcessSchema">
                {{#if process.mortgageRequirement}}
                    {{#if isEditing}}
                        {{#autoForm collection="Processes" id="updateMortgageRequirementForm" doc=process type="update"}}
                            <fieldset>
                            {{> afQuickField name='mortgageRequirement.requiresMortgage'}}
                            <legend>Mortgage requirement</legend>
                            {{#if afFieldValueIs name="mortgageRequirement.requiresMortgage" value=true}}
                                {{> afQuickField name='mortgageRequirement.includeClient1'}}
                                {{#if process.includeClient2}}
                                    {{> afQuickField name='mortgageRequirement.includeClient2'}}
                                {{/if}}
                                {{#if process.includeClient3}}
                                    {{> afQuickField name='mortgageRequirement.includeClient3'}}
                                {{/if}}
                            {{/if}}
                        </fieldset>
                            <fieldset>
                                <legend>General</legend>
                                {{> afQuickFields name='mortgageRequest'}}
                            </fieldset>
                            {{#if process.mortgageRequirement.includeClient1}}
                                {{#if isEmployee process.primaryClient.professionType}}
                                    <fieldset>
                                        <legend>Client1: Payslip #1</legend>
                                        {{> afQuickFields name='primaryClient.payslip1' omitFields="primaryClient.payslip1.sameEmployer"}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client1: Payslip #2</legend>
                                        {{> afQuickFields name='primaryClient.payslip2'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client1: Payslip #3</legend>
                                        {{> afQuickFields name='primaryClient.payslip3'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client1: 106 #1</legend>
                                        {{> afQuickFields name='primaryClient.form106Year1' omitFields="primaryClient.payslip1.sameEmployer"}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client1: 106 #2</legend>
                                        {{> afQuickFields name='primaryClient.form106Year2'}}
                                    </fieldset>
                                {{else}}
                                    <fieldset>
                                        <legend>Client1: Self employed report #1</legend>
                                        {{> afQuickFields name='primaryClient.selfEmployed1'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client1: Self employed report #2</legend>
                                        {{> afQuickFields name='primaryClient.selfEmployed2'}}
                                    </fieldset>
                                {{/if}}
                                {{#if process.mortgageRequest}}
                                    <fieldset>
                                        <legend>Client1: Income and expenses</legend>
                                        {{> afQuickFields name='primaryClient.incomeAndExpenses'}}
                                    </fieldset>
                                {{/if}}
                            {{/if}}
                            {{#if process.mortgageRequirement.includeClient2}}
                                {{#if isEmployee process.client2.professionType}}
                                    <fieldset>
                                        <legend>Client2: Payslip #1</legend>
                                        {{> afQuickFields name='client2.payslip1' omitFields="client2.payslip1.sameEmployer"}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client2: Payslip #2</legend>
                                        {{> afQuickFields name='client2.payslip2'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client2: Payslip #3</legend>
                                        {{> afQuickFields name='client2.payslip3'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client2: 106 #1</legend>
                                        {{> afQuickFields name='client2.form106Year1' omitFields="client2.form106Year1.sameEmployer"}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client2: 106 #2</legend>
                                        {{> afQuickFields name='client2.form106Year2'}}
                                    </fieldset>
                                {{else}}
                                    <fieldset>
                                        <legend>Self employed report #1</legend>
                                        {{> afQuickFields name='client2.selfEmployed1'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Self employed report #2</legend>
                                        {{> afQuickFields name='client2.selfEmployed2'}}
                                    </fieldset>
                                {{/if}}
                                {{#if process.mortgageRequest}}
                                    <fieldset>
                                        <legend>Client2: Income and expenses</legend>
                                        {{> afQuickFields name='client2.incomeAndExpenses'}}
                                    </fieldset>
                                {{/if}}
                            {{/if}}
                            {{#if process.mortgageRequirement.includeClient3}}
                                {{#if isEmployee process.client3.professionType}}
                                    <fieldset>
                                        <legend>Client3: Payslip #1</legend>
                                        {{> afQuickFields name='client3.payslip1' omitFields="client3.payslip1.sameEmployer"}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client3: Payslip #2</legend>
                                        {{> afQuickFields name='client3.payslip2'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client3: Payslip #3</legend>
                                        {{> afQuickFields name='client3.payslip3'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client3: 106 #1</legend>
                                        {{> afQuickFields name='client3.form106Year1' omitFields="client3.form106Year1.sameEmployer"}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client3: 106 #2</legend>
                                        {{> afQuickFields name='client3.form106Year2'}}
                                    </fieldset>
                                {{else}}
                                    <fieldset>
                                        <legend>Client3: Self employed report #1</legend>
                                        {{> afQuickFields name='client3.selfEmployed1'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client3: Self employed report #2</legend>
                                        {{> afQuickFields name='client3.selfEmployed2'}}
                                    </fieldset>
                                {{/if}}
                                {{#if process.mortgageRequest}}
                                    <fieldset>
                                        <legend>Client3: Income and expenses</legend>
                                        {{> afQuickFields name='client3.incomeAndExpenses'}}
                                    </fieldset>
                                {{/if}}
                            {{/if}}
                            <button type="submit" class="btn btn-primary">Update</button>
                        {{/autoForm}}
                    {{else}}
                        {{#autoForm collection="Processes" id="viewMortgageRequirementForm" doc=process type="disabled" schema="ProcessSchema"}}
                            <fieldset>
                                {{> afQuickField name='mortgageRequirement.requiresMortgage'}}
                                <legend>Mortgage requirement</legend>
                                {{#if afFieldValueIs name="mortgageRequirement.requiresMortgage" value=true}}
                                    {{> afQuickField name='mortgageRequirement.includeClient1'}}
                                    {{#if process.includeClient2}}
                                        {{> afQuickField name='mortgageRequirement.includeClient2'}}
                                    {{/if}}
                                    {{#if process.includeClient3}}
                                        {{> afQuickField name='mortgageRequirement.includeClient3'}}
                                    {{/if}}
                                {{/if}}
                            </fieldset>
                            <fieldset>
                                <legend>General</legend>
                                {{> afQuickFields name='mortgageRequest'}}
                            </fieldset>
                            {{#if process.mortgageRequirement.includeClient1}}
                                {{#if isEmployee process.primaryClient.professionType}}
                                    <fieldset>
                                        <legend>Client1: Payslip #1</legend>
                                        {{> afQuickFields name='primaryClient.payslip1' omitFields="primaryClient.payslip1.sameEmployer"}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client1: Payslip #2</legend>
                                        {{> afQuickFields name='primaryClient.payslip2'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client1: Payslip #3</legend>
                                        {{> afQuickFields name='primaryClient.payslip3'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client1: 106 #1</legend>
                                        {{> afQuickFields name='primaryClient.form106Year1' omitFields="primaryClient.payslip1.sameEmployer"}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client1: 106 #2</legend>
                                        {{> afQuickFields name='primaryClient.form106Year2'}}
                                    </fieldset>
                                {{else}}
                                    <fieldset>
                                        <legend>Client1: Self employed report #1</legend>
                                        {{> afQuickFields name='primaryClient.selfEmployed1'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client1: Self employed report #2</legend>
                                        {{> afQuickFields name='primaryClient.selfEmployed2'}}
                                    </fieldset>
                                {{/if}}
                                {{#if process.mortgageRequest}}
                                    <fieldset>
                                        <legend>Client1: Income and expenses</legend>
                                        {{> afQuickFields name='primaryClient.incomeAndExpenses'}}
                                    </fieldset>
                                {{/if}}
                            {{/if}}
                            {{#if process.mortgageRequirement.includeClient2}}
                                {{#if isEmployee process.client2.professionType}}
                                    <fieldset>
                                        <legend>Client2: Payslip #1</legend>
                                        {{> afQuickFields name='client2.payslip1' omitFields="client2.payslip1.sameEmployer"}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client2: Payslip #2</legend>
                                        {{> afQuickFields name='client2.payslip2'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client2: Payslip #3</legend>
                                        {{> afQuickFields name='client2.payslip3'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client2: 106 #1</legend>
                                        {{> afQuickFields name='client2.form106Year1' omitFields="client2.form106Year1.sameEmployer"}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client2: 106 #2</legend>
                                        {{> afQuickFields name='client2.form106Year2'}}
                                    </fieldset>
                                {{else}}
                                    <fieldset>
                                        <legend>Self employed report #1</legend>
                                        {{> afQuickFields name='client2.selfEmployed1'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Self employed report #2</legend>
                                        {{> afQuickFields name='client2.selfEmployed2'}}
                                    </fieldset>
                                {{/if}}
                                {{#if process.mortgageRequest}}
                                    <fieldset>
                                        <legend>Client2: Income and expenses</legend>
                                        {{> afQuickFields name='client2.incomeAndExpenses'}}
                                    </fieldset>
                                {{/if}}
                            {{/if}}
                            {{#if process.mortgageRequirement.includeClient3}}
                                {{#if isEmployee process.client3.professionType}}
                                    <fieldset>
                                        <legend>Client3: Payslip #1</legend>
                                        {{> afQuickFields name='client3.payslip1' omitFields="client3.payslip1.sameEmployer"}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client3: Payslip #2</legend>
                                        {{> afQuickFields name='client3.payslip2'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client3: Payslip #3</legend>
                                        {{> afQuickFields name='client3.payslip3'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client3: 106 #1</legend>
                                        {{> afQuickFields name='client3.form106Year1' omitFields="client3.form106Year1.sameEmployer"}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client3: 106 #2</legend>
                                        {{> afQuickFields name='client3.form106Year2'}}
                                    </fieldset>
                                {{else}}
                                    <fieldset>
                                        <legend>Client3: Self employed report #1</legend>
                                        {{> afQuickFields name='client3.selfEmployed1'}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Client3: Self employed report #2</legend>
                                        {{> afQuickFields name='client3.selfEmployed2'}}
                                    </fieldset>
                                {{/if}}
                                {{#if process.mortgageRequest}}
                                    <fieldset>
                                        <legend>Client3: Income and expenses</legend>
                                        {{> afQuickFields name='client3.incomeAndExpenses'}}
                                    </fieldset>
                                {{/if}}
                            {{/if}}
                            <button type="button" class="js-edit btn btn-primary">Edit</button>
                        {{/autoForm}}
                    {{/if}}
                {{/if}}
            </div>
            <div role="tabpanel" class="tab-pane" id="notary">
                {{#if process.notary}}
                    {{#if isEditing}}
                        {{#autoForm collection="Processes" id="updateNotaryForm" doc=process type="update" schema="ProcessSchema"}}
                            <fieldset>
                                {{#if process.notary.finalDate}}
                                    {{> afQuickField name='notary.finalDate'}}
                                {{else}}
                                    {{> afQuickField name='notary.proposedDate1'}}
                                    {{> afQuickField name='notary.proposedDate2'}}
                                    {{> afQuickField name='notary.proposedDate3'}}
                                {{/if}}
                            </fieldset>
                            <button type="submit" class="btn btn-primary">Update</button>
                        {{/autoForm}}
                    {{else}}
                        {{#autoForm collection="Processes" id="viewNotaryForm" doc=process type="disabled"}}
                            <fieldset>
                                {{#if process.notary.finalDate}}
                                    {{> afQuickField name='notary.finalDate'}}
                                {{else}}
                                    {{> afQuickField name='notary.proposedDate1'}}
                                    {{> afQuickField name='notary.proposedDate2'}}
                                    {{> afQuickField name='notary.proposedDate3'}}
                                {{/if}}
                            </fieldset>
                        {{/autoForm}}
                        <button class="js-edit btn btn-primary">Edit</button>
                    {{/if}}
                {{/if}}
            </div>
            <div role="tabpanel" class="tab-pane" id="management">
                <h3>Management Notes:</h3>
                <ul class="list-group">
                    {{#each process.management.notes}}
                        <li class="list-group-item"><label>{{this.body}}</label><p>user: {{getUser this}}</p><p>{{getFormatedDate this}}</p><a class="js-delete-note" data-index="{{this.index}}">Delete</a></li>
                    {{/each}}
                </ul>
                {{#unless isAddingNote}}
                    <button class="add-new js-add-new-note btn btn-primary"> Add new note</button>
                {{/unless}}
                {{#if isAddingNote}}
                    <div id="insertNewManagementNoteForm">
                        <div>
                            <textarea placeholder="Add your note here" rows="5" cols="80"></textarea>
                        </div>
                        <button class="js-submit-note btn btn-primary">Submit</button>
                        <button class="js-cancel btn btn">Cancel</button>
                    </div>
                {{/if}}
                <hr>
                {{#if startedHandover}}
                    {{#if isEditing}}
                        {{#autoForm collection="Processes" id="updateHandoverForm" doc=process type="update" schema="ProcessSchema"}}
                            <fieldset>
                                {{> afQuickField name='management.clientIBAN'}}
                            </fieldset>
                            <fieldset>
                                <legend>Property Management Company</legend>
                                {{> afQuickField name='management.managementCompany.details'}}
                                {{> afQuickField name='management.managementCompany.housegeld'}}
                                {{> afQuickField name='management.managementFee'}}
                                {{> afQuickField name='management.managementCompany.apartmentIBAN'}}
                            </fieldset>
                            <fieldset>
                                <legend>Rental info</legend>
                                {{> afQuickField name='management.isFurnished'}}
                            </fieldset>
                            <fieldset>
                                <legend>Primary Tenant</legend>
                                {{> afQuickFields name='management.tenant'}}
                                <legend>Second Tenant</legend>
                                {{> afQuickFields name='management.secondTenant'}}
                            </fieldset>
                            <fieldset>
                                <legend>Tax info</legend>
                                {{> afQuickField name='management.taxNumber'}}
                                {{> afQuickField name='management.finanzamtName'}}
                                {{> afQuickField name='management.finanzamtEmail'}}
                                {{> afQuickField name='management.quarterlyPayment'}}
                            </fieldset>
                            <button type="submit" class="btn btn-primary">Update</button>
                        {{/autoForm}}
                    {{else}}
                        {{#autoForm collection="Processes" id="viewHandoverForm" doc=process type="disabled"}}
                            <fieldset>
                                {{> afQuickField name='management.clientIBAN'}}
                            </fieldset>
                            <fieldset>
                                <legend>Property Management Company</legend>
                                {{> afQuickField name='management.managementCompany.details'}}
                                {{> afQuickField name='management.managementCompany.housegeld'}}
                                {{> afQuickField name='management.managementFee'}}
                                {{> afQuickField name='management.managementCompany.apartmentIBAN'}}
                            </fieldset>
                            <fieldset>
                                <legend>Rental info</legend>
                                {{> afQuickField name='management.isFurnished'}}
                            </fieldset>
                            <fieldset>
                                <legend>Primary Tenant</legend>
                                {{> afQuickFields name='management.tenant'}}
                                <legend>Second Tenant</legend>
                                {{> afQuickFields name='management.secondTenant'}}
                            </fieldset>
                            <fieldset>
                                <legend>Tax info</legend>
                                {{> afQuickField name='management.taxNumber'}}
                                {{> afQuickField name='management.finanzamtName'}}
                                {{> afQuickField name='management.finanzamtEmail'}}
                                {{> afQuickField name='management.quarterlyPayment'}}
                            </fieldset>
                        {{/autoForm}}
                        <button class="js-edit btn btn-primary">Edit</button>
                    {{/if}}
                {{/if}}
            </div>
            <div role="tabpanel" class="tab-pane" id="log">
                <h3>Notes:</h3>
                <ul class="list-group">
                    {{#each process.notes}}
                        <li class="list-group-item"><label>{{this.body}}</label><p>user: {{getUser this}}</p><p>{{getFormatedDate this}}</p><a class="js-delete-note" data-index="{{this.index}}">Delete</a></li>
                    {{/each}}
                </ul>
                {{#unless isAddingNote}}
                    <button class="add-new js-add-new-note btn btn-primary"> Add new note</button>
                {{/unless}}
                {{#if isAddingNote}}
                    <div id="insertNewNoteForm">
                        <div>
                            <textarea placeholder="Add your note here" rows="5" cols="80"></textarea>
                        </div>
                        <button class="js-submit-note btn btn-primary">Submit</button>
                        <button class="js-cancel btn btn">Cancel</button>
                    </div>
                {{/if}}
                <hr>
                <h3>Log:</h3>
                <ul class="list-group">
                    <li class="list-group-item"><label>Created:</label><p>{{getFormatedDate process.createdAt}}</p></li>
                    {{#each process.log}}
                        <li class="list-group-item"><label>{{getLogItemLabel this}}:</label><p>{{getFormatedDate this}}</p><p>user: {{getUser this}}</p><a class="js-repeat-step" data-step="{{this.index}}">Repeat step</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="changeStepModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close js-closeModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Change notary process step</h4>
                    </div>
                    <div class="modal-body">
                        <label>Step:</label>
                        <input id="stepSelector" type="number" value="{{process.step}}"/>
                        {{#if isInvalid}}
                        <div class="invalid-feedback">
                            Error: Trying to change a notray process to mortgage step
                        </div>
                        {{/if}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default js-closeModal" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary js-change-step">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="changeStepBModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close js-closeModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Change mortgage process step</h4>
                    </div>
                    <div class="modal-body">
                        <label>Step:</label>
                        <input id="stepSelectorB" type="number" value="{{process.stepB}}"/>
                        {{#if isInvalid}}
                        <div class="invalid-feedback">
                            Error: Trying to change a mortgage process to notary step
                        </div>
                        {{/if}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default js-closeModal" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary js-change-stepB">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>