<template name="ProcessList">
    {{> bootstrapAlerts}}
    <div class="row process-item">
        <a class="btn btn-info btn-lg btn-block"  href="/new-process"><i class="fa fa-plus"></i> Start a new process</a>
    </div>
    <nav class="row">
        <ul class="nav nav-tabs" role="tablist" id="ongoing-tabs">
            <li role="presentation" class="active"><a href="#reservations" aria-controls="reservations" role="tab" data-toggle="tab">Reservations {{#if getOverdueReservationsCount}}<span class="badge badge-error">{{getOverdueReservationsCount}}</span> /{{getReservationsCount}}{{/if}}</a></li>
            <li role="presentation"><a href="#notaries" aria-controls="notaries" role="tab" data-toggle="tab">Notaries {{#if getOverdueNotariesCount}}<span class="badge badge-error">{{getOverdueNotariesCount}}</span> /{{getNotariesCount}}{{/if}}</a></li>
            <li role="presentation"><a href="#mortgages" aria-controls="mortgages" role="tab" data-toggle="tab">Mortgages {{#if getOverdueMortgagesCount}}<span class="badge badge-error">{{getOverdueMortgagesCount}}</span> /{{getMortgageCount}}{{/if}}</a></li>
            <li role="presentation"><a href="#handover" aria-controls="handover" role="tab" data-toggle="tab">Handover {{#if getOverdueHandoversCount}}<span class="badge badge-error">{{getOverdueHandoversCount}}</span> /{{getHandoversCount}}{{/if}}</a></li>
        </ul>
    </nav>
    <section class="row tab-content">
        <div role="tabpanel" class="tab-pane active" id="reservations">
            <ul class="list-group">
                {{#if Template.subscriptionsReady}}
                    {{#each getReservationProcesses}}
                        {{> ProcessItem}}
                    {{/each}}
                {{else}}
                    <p>Loading...</p>
                {{/if}}
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="notaries">
            <ul class="list-group">
                {{#if Template.subscriptionsReady}}
                    {{#each getNotaryProcesses}}
                        {{> ProcessItem}}
                    {{/each}}
                {{else}}
                    <p>Loading...</p>
                {{/if}}
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="mortgages">
            <ul class="list-group">
                {{#if Template.subscriptionsReady}}
                    {{#each getMortgageProcesses}}
                        {{> MortgageProcessItem}}
                    {{/each}}
                {{else}}
                    <p>Loading...</p>
                {{/if}}
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="handover">
            <ul class="list-group">
                {{#if Template.subscriptionsReady}}
                    {{#each getHandoversProcesses}}
                        {{> ProcessItem}}
                    {{/each}}
                {{else}}
                    <p>Loading...</p>
                {{/if}}
            </ul>
        </div>
    </section>
</template>