<template name="Accounting">
    {{> bootstrapAlerts}}
    <section class="col-xs-12">
        {{#if Template.subscriptionsReady}}
            {{#if isInRole 'admin'}}
                <div class="row well">
                    {{#unless isUploading}}
                        <p>Upload CSV to update the tables: </p><input type="file" name="uploadCSV">
                    {{else}}
                        <p><i class="fa fa-spin fa-refresh"></i> Uploading files...</p>
                    {{/unless}}
                </div>
                <nav class="row">
                    <ul class="nav nav-tabs" role="tablist" id="accounting-top-tabs">
                        <li role="presentation" class="active"><a href="#table" aria-controls="table" role="tab" data-toggle="tab">Accouting Tables</a></li>
                        <li role="presentation"><a href="#issues" aria-controls="issues" role="tab" data-toggle="tab">Issues</a></li>
                    </ul>
                </nav>
                <div class="row tab-content">
                    <div role="tabpanel" class="tab-pane active" id="table">
                        <nav class="row">
                            <ul class="nav nav-pills" role="tablist" id="accounting-bottom-tabs">
                                <li role="presentation" class="active"><a href="#tenants" aria-controls="tenants" role="tab" data-toggle="tab">Tenants</a></li>
                                <li role="presentation"><a href="#owners" aria-controls="owners" role="tab" data-toggle="tab">Owners</a></li>
                                <li role="presentation"><a href="#management" aria-controls="management" role="tab" data-toggle="tab">Management</a></li>
                                <li role="presentation"><a href="#landTax" aria-controls="landTax" role="tab" data-toggle="tab">Land Tax</a></li>
                            </ul>
                            <div class="nav navbar-nav navbar-right">
                                <select id="yearSelector">
                                    <option value="0">2018</option>
                                    <option value="1">2019</option>
                                </select>
                            </div>
                        </nav>
                        <div class="row tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tenants">
                                {{> reactiveTable class="table accounting table-bordered" settings=getTenantsSettings collection=getCollection}}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="owners">
                                {{> reactiveTable class="table accounting table-bordered" settings=getOwnersSettings collection=getCollection}}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="management">
                                {{> reactiveTable class="table accounting table-bordered" settings=getManagementSettings collection=getCollection}}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="landTax">
                                {{> reactiveTable class="table accounting table-bordered" settings=getLandTaxSettings collection=getCollection}}
                            </div>
                            <label>Rent brutto sum: {{getGrossRentSum}} | </label>
                            <label>Pay to owner sum: {{getOwnerPaySum}} | </label>
                            <label>Hausegeld sum: {{getHausgeldSum}} | </label>
                            <label>Tenant mgmt. fee sum: {{getTenantMgmtFeeSum}} | </label>
                            <label>Rental fee sum: {{getRentalFeeSum}} | </label>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="issues">
                        <div class="pull-left">
                            <p>Issue count: {{getAccountingSize}}</p>
                            <button id="delete-all-issues">Delete All</button>
                        </div>
                        <div class="clearfix">...</div>
                        <div class="row">
                            <ul class="list-group">
                                {{#if Template.subscriptionsReady}}
                                    {{#each getAccountingIssues}}
                                        {{> TransactionItem}}
                                    {{/each}}
                                {{else}}
                                    <p>Loading...</p>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                {{> PaymentInfoModal}}
                {{else}}
                    <p>You are not authorized to view this</p>
                {{/if}}
        {{else}}
            <p>Loading...</p>
        {{/if}}
    </section>
</template>