<template name="PaymentInfoItem">
    <li class="list-group-item process-item">
        <p>
            <b>Manualy linked:</b> {{getIsLinked}}
            <b>Is split:</b> {{getIsSplit}}
            <b>Payment type:</b> {{paymentType}}
            <b>Value:</b> {{value}}
        </p>
        <hr/>
        <p>
            <b>Execution Date:</b> {{bankTransaction.executionDate}},
            <b>Payee:</b> {{bankTransaction.payee}},
            <b>Payer:</b> {{bankTransaction.payer}},
            <b>IBAN:</b> {{bankTransaction.IBAN}},
            <b>Purpose:</b> {{bankTransaction.purpose}},
            <b>Currency:</b> {{bankTransaction.currency}},
            <b>Sum:</b> {{bankTransaction.sum}}
            <b>Op:</b> {{bankTransaction.op}}
        </p>
        {{#if isNotLinkingOrSplitting}}
            <button class="js-link-issue">Link</button>
            <button class="js-split-issue">Split</button>
            <button class="js-delete-issue">Delete</button>
        {{/if}}
        {{#if isLinking}}
            <button class="js-cancel-link-issue">Cancel</button>
            <section>
                <div class="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="btn-group radio-group">
                                <label class="">Tenants <input type="radio" value="tenant" name="type"></label>
                                <label class="">Owner <input type="radio" value="owner" name="type"></label>
                                <label class="">Management <input type="radio" value="management" name="type"></label>
                                <label class="">Land tax <input type="radio" value="landTax" name="type"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="month">Month: </label>
                        <select id='monthSelector' class="form-control" name="month">
                            <option selected="{{isSelected 1}}">January</option>
                            <option selected="{{isSelected 2}}">February</option>
                            <option selected="{{isSelected 3}}">March</option>
                            <option selected="{{isSelected 4}}">April</option>
                            <option selected="{{isSelected 5}}">May</option>
                            <option selected="{{isSelected 6}}">June</option>
                            <option selected="{{isSelected 7}}">July</option>
                            <option selected="{{isSelected 8}}">August</option>
                            <option selected="{{isSelected 9 }}">September</option>
                            <option selected="{{isSelected 10}}">October</option>
                            <option selected="{{isSelected 11}}">November</option>
                            <option selected="{{isSelected 12}}">December</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="noteHolder">Note: </label>
                        <textarea id="noteHolder" class="form-control"></textarea>
                    </div>
                </div>
            </section>
            {{#if Template.subscriptionsReady}}
                {{> reactiveTable class="table paymentInfo table-bordered" settings=getSettings collection=getCollection}}
            {{else}}
                <p>Loading...</p>
            {{/if}}
        {{/if}}
        {{#if isSplitting}}
            <button class="js-cancel-split-issue">Cancel</button>
            <div class="input-group">
                <div class="btn-group radio-group">
                    <label class="">Split to future months <input type="radio" value="future" name="splitTime"></label>
                    <label class="">Split to past months<input type="radio" value="past" name="splitTime"></label>
                </div>
                <div class="form-group">
                    <label class="control-label" for="monthCount">How many months: </label>
                    <input id="monthCount" class="form-control"/>
                </div>
                <button class="btn btn-primary js-confirm-split-issue">Confirm Split</button>
            </div>
        {{/if}}
        <hr/>
        <b>Notes:</b>
        {{note}}
    </li>
</template>