<template name="PaymentInfoModal">
    <div class="modal fade" id="paymentInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{#if getOwnerName}}
                    <div class="modal-header">
                        <button type="button" class="close js-closeModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Payment information</h4>
                        <div>
                            <b>Owner: </b><span>{{getOwnerName}}</span>
                            <b>Property: </b><span>{{getPropertyAddress}}</span>
                        </div>
                        <div>
                            <b>Tenants: </b><span>{{getTenants}}</span>
                        </div>
                    </div>
                    <div class="modal-body">
                        {{#each getPayments}}
                            {{> PaymentInfoItem}}
                        {{/each}}
                   </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default js-closeModal" data-dismiss="modal">Close</button>
                    </div>
                {{else}}
                    <p>Loading...</p>
                {{/if}}
            </div>
        </div>
    </div>
</template>