<template name="TransactionItem">
    <li class="list-group-item process-item">
        <header>
           <p> <b>Execution Date:</b> {{executionDate}},
               <b>Payee:</b> {{payee}},
               <b>Payer:</b> {{payer}},
               <b>IBAN:</b> {{IBAN}},
               <b>Purpose:</b> {{purpose}},
               <b>Currency:</b> {{currency}},
               <b>Sum:</b> {{sum}}
               <b>Op:</b> {{op}}
           </p>
        </header>
        <button class="js-delete-issue">Delete</button>
        <button class="js-ignore-issue">Ignore</button>
        {{#if isLinking}}
            <button class="js-cancel-link-issue">Cancel</button>
            <section>
                <div class="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="btn-group radio-group">
                                <label class="">Tenants <input type="radio" value="tenant" name="type"></label>
                                <label class="">Owner <input type="radio" value="owner" name="type"></label>
                                <label class="">Management <input type="radio" value="management" name="type"></label>
                                <label class="">Land tax <input type="radio" value="landTax" name="type"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="month">Month: </label>
                        <select id='monthSelector' class="form-control" name="month">
                            <option selected="{{isSelected 1}}">January</option>
                            <option selected="{{isSelected 2}}">February</option>
                            <option selected="{{isSelected 3}}">March</option>
                            <option selected="{{isSelected 4}}">April</option>
                            <option selected="{{isSelected 5}}">May</option>
                            <option selected="{{isSelected 6}}">June</option>
                            <option selected="{{isSelected 7}}">July</option>
                            <option selected="{{isSelected 8}}">August</option>
                            <option selected="{{isSelected 9 }}">September</option>
                            <option selected="{{isSelected 10}}">October</option>
                            <option selected="{{isSelected 11}}">November</option>
                            <option selected="{{isSelected 12}}">December</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="month">Note: </label>
                        <textarea id="noteHolder" class="form-control"></textarea>
                    </div>
                </div>
            </section>
            {{#if Template.subscriptionsReady}}
                {{> reactiveTable class="table table-bordered" settings=getSettings collection=getCollection}}
            {{else}}
                <p>Loading...</p>
            {{/if}}
        {{else}}
            <button class="js-link-issue">Link to process</button>
        {{/if}}
    </li>
</template>