<template name="SupplierReservation">
    {{#if Template.subscriptionsReady}}
        <h1>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}}</h1>
        <h3>Status: {{getProcessStep process.step}}</h3>
        <div>
            {{#autoForm collection="Processes" id="supplierReservationForm" doc=process type="update"}}
                <p>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}}</p>
                {{> afQuickField name='supplierReservation.includeClient1'}}
                {{#if process.includeClient2}}
                    <p>{{process.client2.firstName}} {{process.client2.lastName}}</p>
                    {{> afQuickField name='supplierReservation.includeClient2'}}
                {{/if}}
                {{#if process.includeClient3}}
                    <p>{{process.client3.firstName}} {{process.client3.lastName}}</p>
                    {{> afQuickField name='supplierReservation.includeClient3'}}
                {{/if}}
                {{#if isUncomplete}}
                    <div class="alert alert-danger" role="alert">At least one client needs to be included in the reservation</div>
                {{/if}}
                <button type="button" class="js-submit btn btn-primary">Update</button>
                <button type="button" class="js-cancel btn">Cancel</button>
            {{/autoForm}}
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>