<template name="VerifyIdentity">
    {{#if Template.subscriptionsReady}}
        <h1>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}}</h1>
        <h3>Status: {{getProcessStep process.step}}</h3>
        <div>
            {{#autoForm collection="Processes" id="verifyIdentityForm" doc=process type="update"}}
                <fieldset>
                    <legend>Primary client</legend>
                    {{> afQuickFields name='primaryClient.identification'}}
                    <div class="form-group">
                        <label for="passportScanClient1" class="control-label">Passport scan:</label>
                        {{#if process.primaryClient.identification.passportScanPath}}
                            <img width="200px" src="{{process.primaryClient.identification.passportScanPath}}"/>
                            <button type="button" id="passportScanClient1" data-client=1 class="js-uploadPassport btn">Replace</button>
                        {{else}}
                            <button type="button" id="passportScanClient1" data-client=1 class="js-uploadPassport btn">Upload</button>
                        {{/if}}
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="signatureClient1" class="control-label">Signature example:</label>
                        {{#if process.primaryClient.identification.signaturePath}}
                            <img width="200px" src="{{process.primaryClient.identification.signaturePath}}"/>
                            <button type="button" id="signatureClient1" data-client=1 class="js-uploadSignature btn">Replace</button>
                        {{else}}
                            <button type="button" id="signatureClient1" data-client=1 class="js-uploadSignature btn">Upload</button>
                        {{/if}}
                        <span class="help-block"></span>
                    </div>
                </fieldset>
                {{#if process.includeClient2}}
                    <fieldset>
                        <legend>Second client</legend>
                        {{> afQuickFields name='client2.identification'}}
                        <div class="form-group">
                            <label for="passportScanClient2" class="control-label">Passport scan:</label>
                            {{#if process.client2.identification.passportScanPath}}
                                <img width="200px" src="{{process.client2.identification.passportScanPath}}"/>
                                <button type="button" id="passportScanClient2" data-client=2 class="js-uploadPassport btn">Replace</button>
                            {{else}}
                                <button type="button" id="passportScanClient2" data-client=2 class="js-uploadPassport btn">Upload</button>
                            {{/if}}
                            <span class="help-block"></span>
                        </div>
                        <div class="form-group">
                            <label for="signatureClient2" class="control-label">Signature example:</label>
                            {{#if process.client2.identification.signaturePath}}
                                <img width="200px" src="{{process.client2.identification.signaturePath}}"/>
                                <button type="button" id="signatureClient2" data-client=2 class="js-uploadSignature btn">Replace</button>
                            {{else}}
                                <button type="button" id="signatureClient2" data-client=2 class="js-uploadSignature btn">Upload</button>
                            {{/if}}
                            <span class="help-block"></span>
                        </div>
                    </fieldset>
                {{/if}}
                {{#if process.includeClient3}}
                    <fieldset>
                        <legend>Third client</legend>
                        {{> afQuickFields name='client3.identification'}}
                        <div class="form-group">
                            <label for="passportScanClient3" class="control-label">Passport scan:</label>
                            {{#if process.client3.identification.passportScanPath}}
                                <img width="200px" src="{{process.client3.identification.passportScanPath}}"/>
                                <button type="button" id="passportScanClient3" data-client=3 class="js-uploadPassport btn">Replace</button>
                            {{else}}
                                <button type="button" id="passportScanClient3" data-client=3 class="js-uploadPassport btn">Upload</button>
                            {{/if}}
                            <span class="help-block"></span>
                        </div>
                        <div class="form-group">
                            <label for="signatureClient3" class="control-label">Signature example:</label>
                            {{#if process.client3.identification.signaturePath}}
                                <img width="200px" src="{{process.client3.identification.signaturePath}}"/>
                                <button type="button" id="signatureClient3" data-client=3 class="js-uploadSignature btn">Replace</button>
                            {{else}}
                                <button type="button" id="signatureClient3" data-client=3 class="js-uploadSignature btn">Upload</button>
                            {{/if}}
                            <span class="help-block"></span>
                        </div>
                    </fieldset>
                {{/if}}
                {{#if isUncomplete}}
                    <div class="alert alert-danger" role="alert">You need to upload all passports and signature to complete this step.</div>
                {{/if}}
                <button type="button" class="js-submit btn btn-primary">Update</button>
                <button type="button" class="js-cancel btn">Cancel</button>
            {{/autoForm}}
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>