<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="">
        <h1>Overdue reservation processes ({{overdueReservationsCount}}):</h1>
        <ul>
        {{#each overdueReservations}}
            {{> OverdueProcessItem process=this}}
        {{/each}}
        </ul>
        <h1>Overdue notary processes ({{overdueNotarysCount}}):</h1>
        <ul>
        {{#each overdueNotarys}}
            {{> OverdueProcessItem process=this}}
        {{/each}}
        </ul>
        <h1>Overdue mortgage processes ({{overdueMortgagesCount}}):</h1>
        <ul>
        {{#each overdueMortgages}}
            {{> OverdueProcessItem process=this}}
        {{/each}}
        </ul>
        <h1>Overdue handover processes ({{overdueHandoversCount}}):</h1>
        <ul>
        {{#each overdueHandovers}}
            {{> OverdueProcessItem process=this}}
        {{/each}}
        </ul>
    </body>
</html>