<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="direction:rtl;unicode-bidi:embed;font-family: arial;">
    {{client1HebrewName}}{{#if includeClient2}}, {{client2HebrewName}}{{/if}}{{#if includeClient3}}, {{client3HebrewName}}{{/if}} שלום.
    <br>
    <br>
    ברכותינו! בשעה טובה הנוטריזציה על דירתך בברלין בוצעה.
    <br>
    החוזים החתומים יגיעו ממשרד הנוטריון למשרדנו בברלין  ואנו נעביר אותו אליכם.
    <br>
    <br>
    כעת אנו בשלב בו הנוטריון פועל למימוש העיסקה, רישום הערת האזהרה, הסרת משכנתאות
    <br>
    או שיעבודים של המוכר וקבלת כתבי ויתור מדיירים במידה ונדרש.
    <br>
    <br>
    אנו נעדכן אתכם בכל שלבי ההתקדמות. השלב הקרוב יהיה פתיחת חשבון נאמנות עבורכם
    <br>
    לצורך תשלום ההוצאות הנלוות בגרמניה לעיסקה. מכתב פנייה בנושא ישלח בקרוב.
    <br>
    <br>
    בשלב זה אודה לכם על  העברת שכר טרחתנו  על פי הפרוט הבא :
    <br>
    סכום הרכישה: €{{propertyPrice}}
    <br>
    עמלתנו בשיעור {{brokerFee}}% + מע"מ % {{vat}}: €{{calculatedFee}}
    <br>
    בקיזוז  {{deposit}} יורו פיקדון: €{{calculatedFeeClean}}
    <br>
   ובשקלים נכון להיום: ₪{{calculatedFeeConverted}} ע״פי שער של  {{conversionRate}}
    <br>
    <br>
    <br>
    את ההעברה אבקש לבצע אל חשבוננו בישראל:
    <br>
    IBAN : IL610108050000009530079
    <br>
    SWIFT: LUMIILITXXX
    <br>
    BANK ADRESS: 60 SALAME STREET TEL AVIV ISRAEL
    <br>
    BENIFICARY: ISRAEL ZEEVI SWEET HOME
    <br>
    BANK LEUMI
    <br>
    BRANCH 805
    <br>
    ACOUNT: 95300-79
    <br>
    <br>
    אודה לך  על קבלת  העתקי העברות  במייל  או  בפקס : 03-5055306
    <br>
    <br>
    בתודה מראש,
    <br>
    רנה זאבי
    <br>
    <br>
    <table align="right">
        <tr>
            <th>
                <img src="http://www.sweet-home.co.il/wp-content/uploads/2014/04/logo.png" alt="logo" />
            </th>
        </tr>
        <tr>
            <td align=center>
                Sweet Home
                <br>
                <br>
                4 Kaufman St.
                <br>
                Tel Aviv 6801296
                <br>
                Tel. +972 547662361
                <br>
                Tel. +49 15203918397
                <br>
                www.sweet-home.co.il
                <br>
            </td>
        </tr>
    </table>
    </body>
</html>