<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="direction:rtl;unicode-bidi:embed;font-family: arial;">
    {{client1HebrewName}}{{#if includeClient2}}, {{client2HebrewName}}{{/if}}{{#if includeClient3}}, {{client3HebrewName}}{{/if}} שלום.
    <br>
    <br>
    הנוטריון שלח אליכם במייל יפוי כח לישראל ולרועי ממשרדינו בברלין על מנת שייצגו אתכם במעמד הנוטריזציה.(חתימה על החוזה בפני הנוטריון בברלין).
    <br>
    על יפוי הכח עליכם לחתום בפני נוטריון בישראל שגם יעשה עליו אפוסטיל (אישרור חתימה בבית משפט) או לחילופין בשגרירות גרמניה שם אין צורך באפוסטיל.
    <br>
    <b>עליכם להדפיס את יפוי הכח וכן את טיוטת החוזה (חותמים רק על יפוי הכח אך לפעמים מבקשים לראות חוזה) ולהביא אותם  לפגישה בצירוף הדרכונים שלכם.</b>
    <br>
    <br>
לינק לשגרירות גרמניה לקביעת תור:
    <br>
    <a src="https://service2.diplo.de/rktermin/extern/choose_category.do?locationCode=tela&realmId=251&categoryId=406">https://service2.diplo.de/rktermin/extern/choose_category.do?locationCode=tela&realmId=251&categoryId=406</a>
    <br>
    יש להקליק על הלינק ואז CONTINUE בתחתית העמוד.יפתח חלון עם אותיות ומספרים להקלדה ולאחר מכן תפתח רשימת מועדים שמהם ניתן לבחור.
    <br>
    <br>
    רשימת נוטריונים דוברי גרמנית:
    <br>
ד"ר קטי אלמליח
    <br>
מגדלי בסר 2
    <br>
רחוב בן גוריון 1 בני ברק
    <br>
03-6189995
    <br>
elmaliah@elmaliah.com
    <br>
www.elmaliah.com
    <br>
    <br>
חניתה מיטלס
    <br>
דרך מנחם בגין 82 תלאביב
    <br>
03-5621777
    <br>
dana@meiteles.co.il
    <br>
    <br>
יואל לוי ושות
    <br>
רחוב זבוטינסקי 33 רמת גן
    <br>
03-5754255
    <br>
yoel1@barak.net.il
    <br>
    <br>
    <br>
    לאחר החתימה אנא הבא את ייפוי הכח למשרדנו.
    <br>
    <br>
    ,בתודה מראש
    <br>
    רנה זאבי
    <br>
    <br>
    <table align="right">
        <tr>
            <th>
                <img src="http://www.sweet-home.co.il/wp-content/uploads/2014/04/logo.png" alt="logo" />
            </th>
        </tr>
        <tr>
            <td align=center>
                Sweet Home
                <br>
                <br>
                4 Kaufman St.
                <br>
                Tel Aviv 6801296
                <br>
                Tel. +972 547662361
                <br>
                Tel. +49 15203918397
                <br>
                www.sweet-home.co.il
                <br>
            </td>
        </tr>
    </table>
    </body>
</html>