<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="direction:rtl;unicode-bidi:embed;font-family: arial;text-align:right;">
    {{#if includeClient1}}{{client1HebrewName}}{{/if}}{{#if includeClient2}}, {{client2HebrewName}}{{/if}}{{#if includeClient3}}, {{client3HebrewName}}{{/if}} שלום.
    <br>
    <br>
    נתקבלה ההודעה מהנוטריון על  השלמת פעילויות הרישום לנכס ועל הצורך לבצע העברת התשלום למוכר.
    <br>
    <br>
    התשלום צריך להיות בחשבון המוכר במלואו תוך שבועיים מקבלת מכתב זה.
    <br>
    <br>
{{#if requiresMortgage}}
    על מנת שנספיק להעביר גם את המשכנתא שהנה חלק מהתשלום, אבקשך להעביר ההון העצמי תוך שבוע
    <br>ולמסור לי אסמכתא לתשלום על מנת שאוכל לטפל גם בהעברת המשכנתא.
    <br>
    <br>
{{/if}}
    להלן חישוב ההון העצמי להעברה:
    <br>
    <br>
    מחיר הרכישה {{totalPayment}}  יורו
{{#if requiresMortgage}}
    בקיזוז המשכנתא שלכם בסך : {{clientMortgage}} יורו
{{/if}}
    <br>
    <br>
    {{#if payableToTwoAccounts}}
        יתרת הסכום להעברה: {{leftToPay}} יורו לפי הפירוט הבא
        <br>
        <br>
        סך של {{account1Payment}} אירו לחשבון הנ"ל:
        <br>
        <br>
        <span style="direction:ltr;unicode-bidi:embed;font-family: arial;text-align: right;">
        IBAN: {{paymentAccount1IBAN}}
        <br>
        ACCOUNT HOLDER : {{paymentAccount1AccountHolderName}}
        <br>
        BANK: {{paymentAccount1Bank}}
        <br>
        BIC: {{paymentAccount1BIC}}
        <br>
        REFERENCE: {{paymentAccount1Reference}}
        <br>
        <br>
        </span>
        סך של {{account2Payment}} אירו לחשבון המוכר הנ״ל:
        <br>
        <br>
        <span style="direction:ltr;unicode-bidi:embed;font-family: arial;text-align: right;">
        IBAN: {{paymentAccount2IBAN}}
        <br>
        ACCOUNT HOLDER : {{paymentAccount2AccountHolderName}}
        <br>
        BANK: {{paymentAccount2Bank}}
        <br>
        BIC: {{paymentAccount2BIC}}
        <br>
        REFERENCE: {{paymentAccount2Reference}}
        <br>
        <br>
        </span>
    {{else}}
        יתרת הסכום להעברה: {{leftToPay}} יורו
        <br>
        <br>
        לחשבון הנ"ל:
        <br>
        <br>
        <span style="direction:ltr;unicode-bidi:embed;font-family: arial;text-align: right;">
        IBAN: {{paymentAccount1IBAN}}
        <br>
        ACCOUNT HOLDER : {{paymentAccount1AccountHolderName}}
        <br>
        BANK: {{paymentAccount1Bank}}
        <br>
        BIC: {{paymentAccount1BIC}}
        <br>
        REFERENCE: {{paymentAccount1Reference}}
        </span>
        <br>
        <br>
    {{/if}}
    אנא שילחו אלי אסמכתא לתשלום מיד עם ביצוע התשלום.
    <br>
    <br>
    בתודה מראש,
    <br>
    רנה זאבי
    <br>
    <br>
    <table align="right">
        <tr>
            <th>
                <img src="http://www.sweet-home.co.il/wp-content/uploads/2014/04/logo.png" alt="logo" />
            </th>
        </tr>
        <tr>
            <td align=center>
                Sweet Home
                <br>
                <br>
                4 Kaufman St.
                <br>
                Tel Aviv 6801296
                <br>
                Tel. +972 547662361
                <br>
                Tel. +49 15203918397
                <br>
                www.sweet-home.co.il
                <br>
            </td>
        </tr>
    </table>
    </body>
</html>