<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
        <p>
            Sehr geehrte Damen und Herren,
            <br>
            <br>
            gern möchten wir ihnen mitteilen
            <br>
            -	für die {{apartment}} in der {{streetName}} {{streetNumber}} in Berlin hat der Lastenwechsel  am {{handoverDate}} stattgefunden. Die Eigentümer sind Frau/Herr {{lastName}}
            <br>
            -	ab Lastenwechsel ist Sweet Home Real Estate Investments GmbH als Empfangsbevollmächtigte benannt.
            <br>
            -   bitte weitere Korrespondenzen an Sweet Home leiten, eine unterzeichnete Vollmacht ist im Anhang beigefügt
            <br>
            <br>
            Unsere Anschrift lautet:
            <br>
            Sweet Home Real Estate Invetments GmbH
            <br>
            Ludwigkirchstr.3
            <br>
            10719 Berlin
            <br>
            <br>
            {{linkToPOA}}
            <br>
            Für Rückfragen stehen wir Ihnen gerne zur Verfügung.
            <br>
            <br>
            Mit freundlichen Grüßen
            <br>
            <br>
            {{managementName}}
            <br>
            <table align="left">
                <tr>
                    <th>
                        <img src="http://www.sweet-home.co.il/wp-content/uploads/2014/04/logo.png" alt="logo" />
                    </th>
                </tr>
                <tr>
                    <td align=center>
                        Sweet Home Real Estate Investments GmbH
                        <br>
                        <br>
                        Ludwigkirchstraße 3
                        <br>
                        10719 Berlin
                        <br>
                        Tel. +49 30 68074322
                        <br>
                        www.sweet-home.co.il
                        <br>
                    </td>
                </tr>
            </table>
        </p>
    </body>
</html>