<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
        <p>
            Sehr geehrte Damen und Herren,
            <br>
            <br>
            wir sind die SE-Verwalter von Herrn/Frau {{ownerName}} hier in Deutschland. Wir bitten Sie in Zukunft bei allen Angelegenheiten für das o.g. Objekt sich an uns direkt zu wenden, die Vollmacht finden Sie unter dem beigefügten Link:
            <br>
            {{linkToPOA}}
            <br>
            <br>
            Der NLW erfolgte am {{handoverDate}}, deshalb benötigen wir folgende Unterlagen, um einen reibungslosen Ablauf zu ermöglichen.
            <br>
            •	aktuellen Wirtschaftsplan
            <br>
            •	Bankverbindung für die Wohngeldzahlungen
            <br>
            •	die Höhe des Wohngeldsrückstandes
            <br>
            •	die Niederschrift der letzten Eigentümerversammlung
            <br>
            <br>
            Wir bitten Sie uns in Kenntnis zu setzen, wenn die Miete nach dem NLW für das o.g. Objekt bei Ihnen eingegangen sind.   
            <br>
            <br>
            Wir freuen uns auf eine gute Zusammenarbeit.
            <br>
            Mit freundlichen Grüßen
            <br>
            <br>
            {{managementName}}
            <br>
            <table align="left">
                <tr>
                    <th>
                        <img src="http://www.sweet-home.co.il/wp-content/uploads/2014/04/logo.png" alt="logo" />
                    </th>
                </tr>
                <tr>
                    <td align=center>
                        Sweet Home Real Estate Investments GmbH
                        <br>
                        <br>
                        Ludwigkirchstraße 3
                        <br>
                        10719 Berlin
                        <br>
                        Tel. +49 30 68074322
                        <br>
                        www.sweet-home.co.il
                        <br>
                    </td>
                </tr>
            </table>
        </p>
    </body>
</html>