<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="">
<p>Dear {{name}},
    <br>
    We received the signed Financing contract from the client {{clientName}} buying an apartment at {{propertyField}}.
    <br>
    <br>
    We are now ready to suggest alternative dates for the mortgage notarization.
    <br>
    May I suggest:
</p>
<ul>
    {{#each dates}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<p>
    Please confirm one of these dates so we can block the time frame.
    <br>
    Waiting for your kind reply,
    <br>
    Rina Zeevi
</p>
<table align="left">
    <tr>
        <th>
            <img src="http://www.sweet-home.co.il/wp-content/uploads/2014/04/logo.png" alt="logo" />
        </th>
    </tr>
    <tr>
        <td align=center>
            Sweet Home
            <br>
            <br>
            P.o.box 121148 Berlin 10605
            <br>
            Tel Aviv 6801296
            <br>
            Tel. +972-54-4622036
            <br>
            Tel. +49-0152-01000491
            <br>
            www.sweet-home.co.il
            <br>
        </td>
    </tr>
</table>
</body>
</html>