    <html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="direction:rtl;unicode-bidi:embed;font-family: arial;">
     {{hebrewName}} שלום.
     <br>
     קיבלנו בתודה את הדרכון הסרוק וכן קיבלנו אישור על ביצוע העברת הפיקדון.
     <br>
     <br>
     כעת על מנת שאוכל להגיש עבורכם את בקשת המשכנתא אבקשכם לשלוח למייל שלי:
     <br>
     - סריקה של שומת המס לשנה הנוכחית והשנה הקודמת או אישור מרו"ח על הכנסות בשנתיים האחרונות.
     <br>
     <br>
     בנוסף מצורף כלינק שאלון למבקשי משכנתא הנדרש ע"י בנק המשכנתאות, אנא מלאו שאלון זה בעברית ושלחו אלי במייל חוזר.
     <br>
     לינק בפורמט וורד לשאלון מבקשי משכנתא: <a href=https://goo.gl/vnr2Fw>https://goo.gl/vnr2Fw</a>
     <br>
     לינק בפומרט pdf לשאלון מבקשי משכנתא: <a href=https://goo.gl/E4jStR>https://goo.gl/E4jStR</a>
     <br>
     <br>
    בתודה מראש
    <br>
    רנה זאבי
    <br>
    <br>
    <br>
    <table align="right">
        <tr>
            <th>
                <img src="http://www.sweet-home.co.il/wp-content/uploads/2014/04/logo.png" alt="logo" />
            </th>
        </tr>
        <tr>
            <td align=center>
                Sweet Home
                <br>
                <br>
                4 Kaufman St.
                <br>
                Tel Aviv 6801296
                <br>
                Tel. +972 547662361
                <br>
                Tel. +49 15203918397
                <br>
                www.sweet-home.co.il
                <br>
            </td>
        </tr>
    </table>
    </body>
</html>