<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
        <p>
        Hello,
        <br>
        I was just informed by our client: {{primaryClientName}},
        <br>
        that he transferred the equity for his purchase of the property in {{propertAddress}}.
        <br>
        At that stage he still has to transfer the mortgage.
        <br>
        In order to proceed with the mortgage the financing institute need your formal confirmation on your letterhead that the equity is paid.
        <br>
        Please use the enclosed wording:
        <br>
        <br>
        <br>
        <br>
        Briefbogen des Verkäufers mit seinen Daten]
        <br>
        <br>
        Empfangsbestätigung
        <br>
        Kaufvertrag Nr. [Urkundennummer des Kaufvertrages], Käufername(n) und Objektanschrift mit Wohnungsnummer
        <br>
        hiermit bestätige ich / bestätigen wir, im Rahmen der Kaufpreisbelegung zum im Betreff genannten Vertrag vom Käufer € [Betrag] auf mein/unser Konto [IBAN] bei der [Name der Bank] erhalten zu haben.
        <br>
        <br>
        [Ort, Datum]
        <br>
        <br>
        [Unterschrift]
        <br>
        <br>
        <br>
        <br>
        Thank you for your cooperation,
        <br>
        Rina Zeevi
        <br>
        <br>
        </p>
        <table align="left">
            <tr>
                <th>
                    <img src="http://www.sweet-home.co.il/wp-content/uploads/2014/04/logo.png" alt="logo" />
                </th>
            </tr>
            <tr>
                <td align=center>
                    Sweet Home
                    <br>
                    <br>
                    4 Kaufman St.
                    <br>
                    Tel Aviv 6801296
                    <br>
                    Tel. +972 547662361
                    <br>
                    Tel. +49 15203918397
                    <br>
                    www.sweet-home.co.il
                    <br>
                </td>
            </tr>
        </table>
    </body>
</html>