<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
        <p>
        Dear {{brokerName}},
        <br>
        <br>
        Thank you for the information regarding the mortgage  for {{primaryClientName}}, purchasing a property on {{propertAddress}}.
        <br>
        We hereby confirm  to provide us the mortgage contract for the sum of {{sum}}.
        <br>
        <br>
        Thank you,
        <br>
        Rina Zeevi
        <br>
        <br>
        </p>
        <table align="left">
            <tr>
                <th>
                    <img src="http://www.sweet-home.co.il/wp-content/uploads/2014/04/logo.png" alt="logo" />
                </th>
            </tr>
            <tr>
                <td align=center>
                    Sweet Home
                    <br>
                    <br>
                    4 Kaufman St.
                    <br>
                    Tel Aviv 6801296
                    <br>
                    Tel. +972 547662361
                    <br>
                    Tel. +49 15203918397
                    <br>
                    www.sweet-home.co.il
                    <br>
                </td>
            </tr>
        </table>
    </body>
</html>