<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
        <p>
        Dear {{name}},
        <br>
        <br>
        We received a maturity letter for the property {{propertAddress}}.
        <br>
        In this link is the confirmation of equity receipt from the vendor.
        <br>
        {{filePath}}
        <br>
        password: {{password}}
        <br>
        <br>
        In the Dropbox you will find all other relevant documents for the payout of the mortgage.
        Please proceed with the payment.
        <br>
        <br>
        Please let me know if there are any other documents that you need.
        <br>
        Thank you,
        <br>
        Rina Zeevi
        <br>
        <br>
        </p>
        <table align="left">
            <tr>
                <th>
                    <img src="http://www.sweet-home.co.il/wp-content/uploads/2014/04/logo.png" alt="logo" />
                </th>
            </tr>
            <tr>
                <td align=center>
                    Sweet Home
                    <br>
                    <br>
                    4 Kaufman St.
                    <br>
                    Tel Aviv 6801296
                    <br>
                    Tel. +972 547662361
                    <br>
                    Tel. +49 15203918397
                    <br>
                    www.sweet-home.co.il
                    <br>
                </td>
            </tr>
        </table>
    </body>
</html>