<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="direction:rtl;unicode-bidi:embed;font-family: arial;">
    {{client1HebrewName}}{{#if includeClient2}}, {{client2HebrewName}}{{/if}}{{#if includeClient3}}, {{client3HebrewName}}{{/if}} שלום.
    <br>
    קיבלנו בתודה את טופס השיריון החתום שלכם.
    <br>
    <br>
    בשלב זה על מנת שנוכל להתקדם בתהליך שריון הנכס אצל הספק והנפקת חוזה רכישה,
    <br>
    אבקשכם לבצע את הפעולות הבאות:
    <br>
    - שליחה של סריקת דרכונים המכילה גם את דף התמונה וגם את דף החתימה.
    <br>
    - העברת הפיקדון כמפורט בטופס השריון.
    <br>
    <br>
    בתודה מראש
    <br>
    רנה זאבי
    <br>
    <br>
    <br>
    <table align="right">
        <tr>
            <th>
                <img src="http://www.sweet-home.co.il/wp-content/uploads/2014/04/logo.png" alt="logo" />
            </th>
        </tr>
        <tr>
            <td align=center>
                Sweet Home
                <br>
                <br>
                4 Kaufman St.
                <br>
                Tel Aviv 6801296
                <br>
                Tel. +972 547662361
                <br>
                Tel. +49 15203918397
                <br>
                www.sweet-home.co.il
                <br>
            </td>
        </tr>
    </table>
    </body>
</html>