<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="direction:rtl;unicode-bidi:embed;font-family: arial;">
    {{client1HebrewName}}{{#if includeClient2}}, {{client2HebrewName}}{{/if}}{{#if includeClient3}}, {{client3HebrewName}}{{/if}} שלום.
    <br>
    חוזה המשכנתא שלך עבור רכישת הדירה ב  {{propertyAddress}} נתקבל במשרדנו.
    <br>
    נקבע לכם מועד לחתימת החוזה:
    <br>
    {{date}}
    <br>
    משרדנו בתל אביב :
    <br>
    רחוב קויפמן 4 קומה 5
    <br>
    <br>
    .נשמח לראותכם
    <br>
    <br>
    ,בברכה  בתודה מראש
    <br>
    רנה זאבי
    <br>
    <br>
    <table align="right">
        <tr>
            <th>
                <img src="http://www.sweet-home.co.il/wp-content/uploads/2014/04/logo.png" alt="logo" />
            </th>
        </tr>
        <tr>
            <td align=center>
                Sweet Home
                <br>
                <br>
                4 Kaufman St.
                <br>
                Tel Aviv 6801296
                <br>
                Tel. +972 547662361
                <br>
                Tel. +49 15203918397
                <br>
                www.sweet-home.co.il
                <br>
            </td>
        </tr>
    </table>
    </body>
</html>