<template name="ManagementActions">
    {{> bootstrapAlerts}}
    {{#if Template.subscriptionsReady}}
        <header class="row">
            <div class="col-sm-9">
                <h3>{{process.primaryClient.lastName}} {{process.primaryClient.firstName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}} - {{realty.apartmentNumber}}</h3>
                <h4>Primary Tenant: {{process.management.tenant.firstName}} {{process.management.tenant.lastName}}</h4>
                <h4>Secondary Tenant: {{process.management.secondTenant.firstName}} {{process.management.secondTenant.lastName}}</h4>
            </div>
        </header>
        <section class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Management Actions</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item process-item">
                                <header>
                                    <a href="managementActions/firstReminder/">
                                        <h4 class="list-group-item-heading">Send first reminder to tenant</h4>
                                    </a>
                                </header>
                            </li>
                            <li class="list-group-item process-item">
                                <header>
                                    <a href="managementActions/secondReminder/">
                                        <h4 class="list-group-item-heading">Send second reminder to tenant</h4>
                                    </a>
                                </header>
                            </li>
                            <li class="list-group-item process-item">
                                <header>
                                    <a href="">
                                        <h4 class="list-group-item-heading js-mgmtAction-selfUseLetter">Send self use letter to tenant</h4>
                                    </a>
                                </header>
                            </li>
                            <li class="list-group-item process-item">
                                <header>
                                    <a href="managementActions/rentIncrease/">
                                        <h4 class="list-group-item-heading">Send rent increase letter to tenant</h4>
                                    </a>
                                </header>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    {{else}}
        <p>Loading...</p>
    {{/if}}
</template>