<template name="RentIncreaseAction">
    {{> bootstrapAlerts}}
    <header class="row">
        <div class="col-sm-9">
            <h3>{{process.primaryClient.lastName}} {{process.primaryClient.firstName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}} - {{realty.apartmentNumber}}</h3>
            <h4>Primary Tenant: {{process.management.tenant.firstName}} {{process.management.tenant.lastName}}</h4>
            <h4>Secondary Tenant: {{process.management.secondTenant.firstName}} {{process.management.secondTenant.lastName}}</h4>
        </div>
    </header>
    <section class="row">
        <div class="col-xs-12">
            <div>
                <h4>Rent Increase Letter</h4>
                <div class="form-group">
                    <label for="rentBruttoInput">Email:</label>
                    <input type="email" class="form-control" id="emailInput" value={{getEmail}}>
                    <label for="rentBruttoInput">Rent Brutto:</label>
                    <input type="number" class="form-control" id="rentBruttoInput" value={{getRentBrutto}}>
                    <label for="rentBruttoDateInput">Rent Brutto Date:</label>
                    <input type="date" class="form-control" id="rentBruttoDateInput" value={{getRentBruttoDate}}>
                    <label for="crateLetterInput">Create letter:</label>
                    <input type="checkBox" class="form-control" id="crateLetterInput">
                </div>
                <button id="createBtn" type="button" class="js-create btn btn-primary">Create</button>
                <button id="cancelBtn" type="button" class="js-cancel btn">Cancel</button>
            </div>
        </div>
    </section>
</template>
