<template name="SecondReminderAction">
    {{> bootstrapAlerts}}
    <header class="row">
        <div class="col-sm-9">
            <h3>{{process.primaryClient.lastName}} {{process.primaryClient.firstName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}} - {{realty.apartmentNumber}}</h3>
            <h4>Primary Tenant: {{process.management.tenant.firstName}} {{process.management.tenant.lastName}}</h4>
            <h4>Secondary Tenant: {{process.management.secondTenant.firstName}} {{process.management.secondTenant.lastName}}</h4>
        </div>
    </header>
    <section class="row">
        <div class="col-xs-12">
            <h4>Second reminder letter</h4>
            <div>
                {{#autoForm collection="Processes" id="SecondReminderForm" resetOnSuccess=false doc=process type="update"}}
                    {{> afQuickField name='management.secondReminder.monthRentDue' value=getDefaultMonthRentDue}}
                    {{> afQuickField name='management.secondReminder.rentDueAmount' value=getDefaultRentDueAmount}}
                    {{> afQuickField name='management.secondReminder.deadlineToPay' value=getDefaultDeadlineToPay}}
                    {{> afQuickField name='management.secondReminder.lateFee' value=getDefaultLateFee}}
                    <button id="submitBtn" type="submit" class="btn btn-primary">send</button>
                    <button id="cancelBtn" type="button" class="js-cancel btn">Cancel</button>
                {{/autoForm}}
            </div>
        </div>
    </section>
</template>
