<template name="FurnishedRentals">
    {{#if Template.subscriptionsReady}}
        <section class="row">
            <div class="col-xs-12">
                <label>furnished: </label>
                {{#if showAll}}
                    <button class="btn btn-primary js-showAll">Show only furnished</button>
                {{else}}
                    <button class="btn btn-default js-showAll">Show all</button>
                {{/if}}
                {{> reactiveTable class="table table-bordered" settings=getSettings}}
            </div>
        </section>
    {{else}}
        <p>Loading...</p>
    {{/if}}
</template>