<template name="IgnoredAccountingIssuesReport">
    {{#if Template.subscriptionsReady}}
        <section class="row">
            <div class="col-xs-12">
                {{> reactiveTable class="table table-bordered" settings=getSettings}}
            </div>
        </section>
    {{else}}
        <p>Loading...</p>
    {{/if}}
</template>