<template name="LocationSelector">
    <label>Location: </label>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
            <input type="radio" name="options" id="all" class="js-location-all" autocomplete="off" checked> All
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="berlin" class="js-location-berlin" autocomplete="off"> Berlin
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="nrw" class="js-location-nrw" autocomplete="off"> NRW
        </label>
    </div>
</template>