<template name="ProcessStatusReport">
    {{#if Template.subscriptionsReady}}
        <section class="row">
            <div class="col-xs-12">
                {{> LocationSelector}}
                {{> reactiveTable class="table table-bordered" settings=getSettings}}
            </div>
        </section>
    {{else}}
        <p>Loading...</p>
    {{/if}}
</template>

<template name="greaterThanFilter">
    <div class="input-group">
      <span class="input-group-addon">
        <span>Score Greater Than </span>
      </span>
        <input class="form-control greater-than-filter-input" type="text"/>
    </div>
</template>