<template name="Reports">
    {{#if Template.subscriptionsReady}}
    <section class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Reports</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item process-item">
                            <header>
                                <a href="/reports/process-status-report">
                                    <h4 class="list-group-item-heading">Process status report</h4>
                                </a>
                            </header>
                        </li>
                        <li class="list-group-item process-item">
                            <header>
                                <a href="/reports/step-status-report">
                                    <h4 class="list-group-item-heading">Step status report</h4>
                                </a>
                            </header>
                        </li>
                        <li class="list-group-item process-item">
                            <header>
                                <a href="/reports/figures-upload-report">
                                    <h4 class="list-group-item-heading">Figures upload report</h4>
                                </a>
                            </header>
                        </li>
                        <li class="list-group-item process-item">
                            <header>
                                <a href="/reports/missing-management-info-report">
                                    <h4 class="list-group-item-heading">Missing management information report</h4>
                                </a>
                            </header>
                        </li>
                        <li class="list-group-item process-item">
                            <header>
                                <a href="/reports/missing-tax-info-report">
                                    <h4 class="list-group-item-heading">Missing tax information report</h4>
                                </a>
                            </header>
                        </li>
                        <li class="list-group-item process-item">
                            <header>
                                <a href="/reports/furnished-rentals">
                                    <h4 class="list-group-item-heading">Furnished rentals</h4>
                                </a>
                            </header>
                        </li>
                        <li class="list-group-item process-item">
                            <header>
                                <a href="/reports/building">
                                    <h4 class="list-group-item-heading">Buildings</h4>
                                </a>
                            </header>
                        </li>
                        <li class="list-group-item process-item">
                            <header>
                                <a href="/reports/ignoredAccountingIssues">
                                    <h4 class="list-group-item-heading">Ignored accounting issues</h4>
                                </a>
                            </header>
                        </li>
                        <li class="list-group-item process-item">
                            <header>
                                <a href="/reports/archivedProcesses">
                                    <h4 class="list-group-item-heading">Archived Processes</h4>
                                </a>
                            </header>
                        </li>
                        <li class="list-group-item process-item">
                            <header>
                                <a href="/reports/clientEmails">
                                    <h4 class="list-group-item-heading">Client Emails</h4>
                                </a>
                            </header>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{{else}}
    <p>Loading...</p>
{{/if}}
</template>