<template name="StepStatusReport">
    {{#if Template.subscriptionsReady}}
        <section class="row">
            <div class="col-xs-12">
                {{> LocationSelector}}
                {{> selectFilter }}
                {{> reactiveTable class="table table-bordered" settings=getSettings}}
                <label>Price summary: {{getPriceSum}}</label>
            </div>
        </section>
    {{else}}
        <p>Loading...</p>
    {{/if}}
</template>

<template name="selectFilter">
    <div class="input-group">
    <span class="input-group-addon">
      <span>Select a step: </span>
    </span>
        <select class="selectpicker form-control select-filter" multiple data-live-search="true" data-actions-box="true" data-selected-text-format="count">
            {{#each getAllSteps}}
                {{> selectFilterStep}}
            {{/each}}
        </select>
    </div>
</template>

<template name="selectFilterStep">
    <option value="{{getIndex this}}">{{getIndex this}} - {{label}}</option>
</template>