<template name="AssertMortgage">
    {{#if Template.subscriptionsReady}}
        <h1>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}}</h1>
        <h3>Status: {{getProcessStep process.step}}</h3>
        <div>
            {{#autoForm collection="Processes" id="assertMortgageForm" doc=process type="update" validate="blur"}}
                {{> afQuickField name='mortgageRequirement.requiresMortgage'}}
                {{#if afFieldValueIs name="mortgageRequirement.requiresMortgage" value=true}}
                    {{> afQuickField name='mortgageRequirement.includeClient1'}}
                    {{#if process.includeClient2}}
                        {{> afQuickField name='mortgageRequirement.includeClient2'}}
                    {{/if}}
                    {{#if process.includeClient3}}
                        {{> afQuickField name='mortgageRequirement.includeClient3'}}
                    {{/if}}
                    {{> afQuickField name="mortgageRequest.mortgageBroker"}}
                {{/if}}
                {{#if isUncomplete}}
                    <div class="alert alert-danger" role="alert">At least one client needs to be included in the mortgage</div>
                {{/if}}
                <button type="button" class="js-submit btn btn-primary">Update</button>
                <button type="button" class="js-cancel btn">Cancel</button>
            {{/autoForm}}
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>