<template name="CreateMortgage">
    {{#if Template.subscriptionsReady}}
        <h1>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}}</h1>
        <h3>Status: {{getProcessStep process.stepB}}</h3>
        <div>
            <ul class="nav nav-tabs" role="tablist">
                {{#if process.mortgageRequirement.includeClient1}}
                    <li role="presentation" class="active"><a href="#client1" aria-controls="primaryClient" role="tab" data-toggle="tab">Primary Client - {{process.primaryClient.firstName}}</a></li>
                {{/if}}
                {{#if process.mortgageRequirement.includeClient2}}
                    <li role="presentation"><a href="#client2" aria-controls="client2" role="tab" data-toggle="tab">Second client - {{process.client2.firstName}}</a></li>
                {{/if}}
                {{#if process.mortgageRequirement.includeClient3}}
                    <li role="presentation"><a href="#client3" aria-controls="client3" role="tab" data-toggle="tab">Third client - {{process.client3.firstName}}</a></li>
                {{/if}}
            </ul>
            {{#autoForm collection="Processes" id="createMortgageForm" doc=process type="update" validation="blur"}}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="client1">
                    {{#if process.mortgageRequirement.includeClient1}}
                        <fieldset>
                            <legend>Income and expenses</legend>
                            {{> afQuickFields name='primaryClient.incomeAndExpenses'}}
                        </fieldset>
                    {{/if}}
                </div>
                <div role="tabpanel" class="tab-pane" id="client2">
                    {{#if process.mortgageRequirement.includeClient2}}
                        <fieldset>
                            <legend>Income and expenses</legend>
                            {{> afQuickFields name='client2.incomeAndExpenses'}}
                        </fieldset>
                    {{/if}}
                </div>
                <div role="tabpanel" class="tab-pane" id="client3">
                    {{#if process.mortgageRequirement.includeClient3}}
                        <fieldset>
                            <legend>Income and expenses</legend>
                            {{> afQuickFields name='client3.incomeAndExpenses'}}
                        </fieldset>
                    {{/if}}
                </div>
                {{#if isUncomplete}}
                    <div class="alert alert-danger" role="alert">Missing information for some of the clients, check the client tabs for more information</div>
                {{/if}}
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="js-cancel btn">Cancel</button>
            </div>
            {{/autoForm}}
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>