<template name="InputMortgage">
    {{#if Template.subscriptionsReady}}
        <h1>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}}</h1>
        <h3>Status: {{getProcessStep process.stepB}}</h3>
        <div>
            <ul class="nav nav-tabs" role="tablist">
                {{#if process.mortgageRequirement.includeClient1}}
                    <li role="presentation" class="active"><a href="#client1" aria-controls="primaryClient" role="tab" data-toggle="tab">Primary Client - {{process.primaryClient.firstName}}</a></li>
                {{/if}}
                {{#if process.mortgageRequirement.includeClient2}}
                    <li role="presentation"><a href="#client2" aria-controls="client2" role="tab" data-toggle="tab">Second client - {{process.client2.firstName}}</a></li>
                {{/if}}
                {{#if process.mortgageRequirement.includeClient3}}
                    <li role="presentation"><a href="#client3" aria-controls="client3" role="tab" data-toggle="tab">Third client - {{process.client3.firstName}}</a></li>
                {{/if}}
            </ul>
            {{#autoForm collection="Processes" id="inputMortgageForm" doc=process type="update" validation="blur"}}
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="client1">
                        {{#if process.mortgageRequirement.includeClient1}}
                            {{#if isEmployee process.primaryClient.professionType}}
                                <fieldset>
                                    <legend>Payslip #1</legend>
                                    {{> afQuickFields name='primaryClient.payslip1' omitFields="primaryClient.payslip1.sameEmployer"}}
                                </fieldset>
                                <fieldset>
                                    <legend>Payslip #2</legend>
                                    {{> afQuickFields name='primaryClient.payslip2'}}
                                </fieldset>
                                <fieldset>
                                    <legend>Payslip #3</legend>
                                    {{> afQuickFields name='primaryClient.payslip3'}}
                                </fieldset>
                                <fieldset>
                                    <legend>106 #1</legend>
                                    {{> afQuickFields name='primaryClient.form106Year1' omitFields="primaryClient.payslip1.sameEmployer"}}
                                </fieldset>
                                <fieldset>
                                    <legend>106 #2</legend>
                                    {{> afQuickFields name='primaryClient.form106Year2'}}
                                </fieldset>
                            {{else}}
                                <fieldset>
                                    <legend>General</legend>
                                    {{> afQuickField name='primaryClient.selfEmployedSince'}}
                                </fieldset>
                                <fieldset>
                                    <legend>Self employed report #1</legend>
                                    {{> afQuickFields name='primaryClient.selfEmployed1'}}
                                </fieldset>
                                <fieldset>
                                    <legend>Self employed report #2</legend>
                                    {{> afQuickFields name='primaryClient.selfEmployed2'}}
                                </fieldset>
                            {{/if}}
                        {{/if}}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="client2">
                        {{#if process.mortgageRequirement.includeClient2}}
                            {{#if isEmployee process.client2.professionType}}
                                <fieldset>
                                    <legend>Payslip #1</legend>
                                    {{> afQuickFields name='client2.payslip1' omitFields="client2.payslip1.sameEmployer"}}
                                </fieldset>
                                <fieldset>
                                    <legend>Payslip #2</legend>
                                    {{> afQuickFields name='client2.payslip2'}}
                                </fieldset>
                                <fieldset>
                                    <legend>Payslip #3</legend>
                                    {{> afQuickFields name='client2.payslip3'}}
                                </fieldset>
                                <fieldset>
                                    <legend>106 #1</legend>
                                    {{> afQuickFields name='client2.form106Year1' omitFields="client2.form106Year1.sameEmployer"}}
                                </fieldset>
                                <fieldset>
                                    <legend>106 #2</legend>
                                    {{> afQuickFields name='client2.form106Year2'}}
                                </fieldset>
                            {{else}}
                                <fieldset>
                                    <legend>General</legend>
                                    {{> afQuickFields name='client2.selfEmployedSince'}}
                                </fieldset>
                                <fieldset>
                                    <legend>Self employed report #1</legend>
                                    {{> afQuickFields name='client2.selfEmployed1'}}
                                </fieldset>
                                <fieldset>
                                    <legend>Self employed report #2</legend>
                                    {{> afQuickFields name='client2.selfEmployed2'}}
                                </fieldset>
                            {{/if}}
                        {{/if}}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="client3">
                        {{#if process.mortgageRequirement.includeClient3}}
                            {{#if isEmployee process.client3.professionType}}
                                <fieldset>
                                    <legend>Payslip #1</legend>
                                    {{> afQuickFields name='client3.payslip1' omitFields="client3.payslip1.sameEmployer"}}
                                </fieldset>
                                <fieldset>
                                    <legend>Payslip #2</legend>
                                    {{> afQuickFields name='client3.payslip2'}}
                                </fieldset>
                                <fieldset>
                                    <legend>Payslip #3</legend>
                                    {{> afQuickFields name='client3.payslip3'}}
                                </fieldset>
                                <fieldset>
                                    <legend>106 #1</legend>
                                    {{> afQuickFields name='client3.form106Year1' omitFields="client3.form106Year1.sameEmployer"}}
                                </fieldset>
                                <fieldset>
                                    <legend>106 #2</legend>
                                    {{> afQuickFields name='client3.form106Year2'}}
                                </fieldset>
                            {{else}}
                                <fieldset>
                                    <legend>General</legend>
                                    {{> afQuickFields name='client3.selfEmployedSince'}}
                                </fieldset>
                                <fieldset>
                                    <legend>Self employed report #1</legend>
                                    {{> afQuickFields name='client3.selfEmployed1'}}
                                </fieldset>
                                <fieldset>
                                    <legend>Self employed report #2</legend>
                                    {{> afQuickFields name='client3.selfEmployed2'}}
                                </fieldset>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
                {{#if isUncomplete}}
                    <div class="alert alert-danger" role="alert">Missing information for some of the clients, check the client tabs for more information</div>
                {{/if}}
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="js-cancel btn">Cancel</button>
            {{/autoForm}}
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>