<template name="MortgageProcessItem">
    <li class="list-group-item process-item">
        <header>
            <h4 class="list-group-item-heading">{{#if this.isBOverdue}}<span class="label label-danger">Overdue</span> {{/if}}{{primaryClient.lastName}} {{primaryClient.firstName}} - {{realty.addressStreet}} {{realty.addressNumber}} - {{realty.apartmentNumber}}</h4>
        </header>
        <main class="list-group-item-text">
            <p>{{getProcessStep this.stepB}} {{#if this.isOnline}}<span class="label label-success">Online</span>{{else}}<span class="label label-default">Offline</span>{{/if}} <span class="pull-right">Supplier: {{getSupplierName this}}{{#if isNotBerlin this}}, <strong>NRW</strong>{{/if}}</span></p>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{getProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{getProgress}}%;">
                    {{getProgress}}%
                </div>
            </div>
        </main>
        {{#if approvedToView this.stepB}}
            <footer class="btn-group btn-group-justified" role="group">
                {{#if isOutputStep}}
                    <a role="button" class="js-advance btn btn-primary" data="step-{{this.stepB}}"><i class="fa fa-forward" aria-hidden="true"></i> Advance</a>
                {{else}}
                    <a role="button" class="js-advance btn btn-info" data="step-{{this.stepB}}"><i class="fa fa-forward" aria-hidden="true"></i> Advance</a>
                {{/if}}
                <a role="button" class="btn btn-default" href="/process/{{_id}}"><i class="fa fa-list" aria-hidden="true"></i> Manage</a>
            </footer>
        {{/if}}
    </li>
</template>