<template name="SendMortgage">
    {{#if Template.subscriptionsReady}}
        <h1>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}}</h1>
        <h3>Status: {{getProcessStep process.stepB}}</h3>
        <div>
            {{#autoForm collection="Processes" id="sendMortgageForm" doc=process type="update" validation="blur"}}
                <fieldset>
                    <legend></legend>
                    {{> afQuickFields name='mortgageRequest' fields="mortgageRequest.iban, mortgageRequest.bankAccountName, mortgageRequest.bankNameAddress"}}
                </fieldset>
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="js-cancel btn">Cancel</button>
            {{/autoForm}}
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>