<template name="UploadEquityReceipt">
    {{#if Template.subscriptionsReady}}
        <h1>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}}</h1>
        <h3>Status: {{getProcessStep process.stepB}}</h3>
        <div>
            {{#autoForm collection="Processes" id="uploadEquityReceiptForm" doc=process type="update"}}
                <fieldset>
                    <legend>Mortgage Contract</legend>
                    {{> afQuickFields name='mortgageRequest.equityReceipt'}}
                    <div class="form-group">
                        <label for="equityReceiptUpload" class="control-label">Equity Receipt:</label>
                        {{#if process.mortgageRequest.equityReceipt.receiptPath}}
                            <img width="200px" src="{{process.mortgageRequest.equityReceipt.receiptPath}}"/>
                            <button type="button" id="equityReceiptUpload" class="js-uploadReceipt btn">Replace</button>
                        {{else}}
                            <button type="button" id="equityReceiptUpload" class="js-uploadReceipt btn">Upload</button>
                        {{/if}}
                        <span class="help-block"></span>
                    </div>
                </fieldset>
                {{#if isUncomplete}}
                    <div class="alert alert-danger" role="alert">You need to upload the receipt to complete this step.</div>
                {{/if}}
                <button type="button" class="js-submit btn btn-primary">Update</button>
                <button type="button" class="js-cancel btn">Cancel</button>
            {{/autoForm}}
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>