<template name="UploadMortgage">
    {{#if Template.subscriptionsReady}}
        <h1>{{process.primaryClient.firstName}} {{process.primaryClient.lastName}} - {{process.realty.addressStreet}} {{process.realty.addressNumber}}</h1>
        <h3>Status: {{getProcessStep process.stepB}}</h3>
        <div>
            {{#autoForm collection="Processes" id="uploadMortgageForm" doc=process type="update"}}
                <fieldset>
                    <legend>Mortgage Contract</legend>
                    {{> afQuickFields name='mortgageRequest.contract'}}
                    <div class="form-group">
                        <label for="contractUpload" class="control-label">Contract:</label>
                        {{#if process.mortgageRequest.contract.contractPath}}
                            <img width="200px" src="{{process.mortgageRequest.contract.contractPath}}"/>
                            <button type="button" id="contractUpload" class="js-uploadContract btn">Replace</button>
                        {{else}}
                            <button type="button" id="contractUpload" class="js-uploadContract btn">Upload</button>
                        {{/if}}
                        <span class="help-block"></span>
                    </div>
                </fieldset>
                {{#if isUncomplete}}
                    <div class="alert alert-danger" role="alert">You need to upload the contract to complete this step.</div>
                {{/if}}
                <button type="button" class="js-submit btn btn-primary">Update</button>
                <button type="button" class="js-cancel btn">Cancel</button>
            {{/autoForm}}
        </div>
    {{else}}
        <h1>Loading...</h1>
    {{/if}}
</template>